[2016-05-10 18:33] DanPurdy commented on #694
I would make them plural in name to follow what we already do. i.e. no-meregeable-selectors, no-color-keywords but apart from that I think they're ok, i'll have a closer look though. I would have them disabled in our config by default though maybe?

With no-combinators have you checked with interpolated values

[2016-05-10 18:57] bgriffith commented on #694
Ok plural it is! I also agree with disabling them by default (like `no-extends`).

I think I've got it covered but will add some more tests just to be safe.

[2016-05-10 21:09] prevuelta opened #698 "Hyphen mistaken as operator"
What version of Sass Lint are you using?
1.7.0

Please include any relevant parts of your configuration

What did you do? Please include the actual source code causing the issue.

[code]
Note: removing/changing the hyphen between #{$icon-size}-#{$breakpoint-name} fixes the error

What did you expect to happen?
No error

What actually happened? Please include any error messages given to you by Sass

[2016-05-10 21:12] prevuelta commented on #698
Sorry, looks like duplicate of #644

[2016-05-10 21:19] scottyeck commented on #644
FWIW, as per @colin-marshall 's second example, I've encountered it as well.

[code]

No error is thrown if the string-concatenation is performed in the interpolated block.

[code]

[2016-05-10 22:04] bgriffith opened #699 "Appveyor not testing on node v6"
Current appveyor isn't testing against the latest stable release of node (as of writing v6.1.0).

Having done some research, it looks like we can specify it to get the latest stable with `nodejs_version: 'stable'`.

Running it on a local branch to test and if all good will make a PR.

[2016-05-11 01:14] colin-marshall commented on #644
@scottyeck good find! So would using the syntax that makes it break be considered "bad" SCSS? Or would it not compile if that was the case?

[2016-05-11 04:54] scottyeck commented on #644
From a readability perspective, I'd say the first of my two options is preferable, since it's more obvious that the interpolation is part of the construction of an _n_th of type formula. The pickiest of picky, I'm aware.

That said, my guess thus far is that the parser is breaking on the `+` token, as it's interpreting it as an operator when, in this case, we just want regular old output. I'm goin

[2016-05-11 09:22] #699 closed

[2016-05-11 20:21] egaudette opened #702 "no-vendor-prefixes : Throws error on Non-Standard Rule"
When enforcing the [no-vendor-prefixes](https://github.com/sasstools/sass-lint/blob/master/docs/rules/no-vendor-prefixes.md) rule, it throws errors due to non-standard rules, as utilized in [normalize.css](https://necolas.github.io/normalize.css/4.1.1/normalize.css):

/* Remove inner padding and border in Firefox 4+.*/
`button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding

[2016-05-11 20:41] dallanlee opened #703 "Issue with SCSS $variables in media queries triggering `no-mergeable-selectors` rule"
I use Sass variable interpolation for media queries. (i.e. `@media #{$media-query-md-only} { … }`) Sass-lint throws a warning that I can merge rules that I actually can't. Sass-lint sees my media queries as `null` because of the variable interpolation. I'm sure this can be fixed.

To be more clear:
[code]

This would throw a warning like:
`Rule '.navigation @media null .nav-item' should be merged

[2016-05-11 21:30] bgriffith commented on #703
Thanks for the report @dallanlee :+1: Managed to replicate it.

[2016-05-11 21:32] DanPurdy commented on #703
I'll take a look at it

[2016-05-11 22:11] #352 closed

[2016-05-11 22:11] #679 closed

[2016-05-11 22:21] dallanlee commented on #703
Quick response time! Thanks!

[2016-05-12 00:21] keeganstreet opened #705 "Add excluded-properties to no-vendor-prefixes rule"
The `no-vendor-prefixes` rule allows us to exclude certain identifiers, such as `webkit` or `moz`. I would like to be able to configure the rule to exclude specific properties without excluding the entire identifier.

Example:
[code]

The following would be allowed:

[code]

The following would be disallowed, because the `excluded-identifiers` option has not been used:

[code]

Do you think this w

[2016-05-12 09:27] #703 closed

[2016-05-12 15:47] egaudette commented on #705
Duplicate of #702

Your suggested code addition is exactly what I was hoping would be included in the linting.

[2016-05-12 16:15] egaudette opened #707 "[ENHANCEMENT REQUEST] - Quote attribute values in selectors"
This request is for the enforcement of quotation of attributes in selectors, as such:

**Example(s) of enforcement:**
default enforcement:
[code]
explicit enforcement:
[code]

The following would be allowed:

[code]

The following would be disallowed:
[code]

<br/>
<br/>

**Example(s) of non-enforcement:**
default non-enforcement:
[code]
explicit non-enforcement:
[code]

The following would be all

[2016-05-12 16:16] bgriffith commented on #707
Thanks for the request :+1: Should be an easy one to implement. Surprised we don't have it covered already!

[2016-05-12 16:18] egaudette commented on #707
So was I, honestly. I thought I had missed it the first couple of go arounds. I didn't notice it when I checked over the rules, again. If it is nested in a rule that I missed, I apologize.

[2016-05-12 19:36] DanPurdy commented on #707
@egaudette it's definitely missing should be resolved with #708 if you want to check to see it suits your needs, thanks for the suggestion 👍

[2016-05-12 19:43] DanPurdy commented on #702
@egaudette @keeganstreet How about rather than a whitelist we check if it's a standard property by default? this way you wont need to whitelist them and we dont need to care about them. We could even have the allow-non-standard option if you'd like some control which would be default set to true?

If the only way you can use these properties is with the vendor prefixes then a whitelist may seem li

[2016-05-12 19:43] DanPurdy commented on #705
I've updated #702 with a comment/suggestion if you'd like to choose 👍 will close this as a duplicate

[2016-05-12 19:43] #705 closed

[2016-05-12 19:46] egaudette commented on #707
Sounds good!

Currently I'm using:
"gulp-sass-lint": "1.7.0"

I'm weary of utilizing untested versions, and therefore don't utilize the the wildcard '*' when doing builds:

"gulp-sass-lint": "*"

Is there any sort of email distribution list when there is a new build & distributes of gulp-sass-lint? As those happen, I would like to test that newest version before utilizing it in my Production build

[2016-05-12 19:54] egaudette commented on #702
Dan, I'll admit that I'm not up to date with the existing of all the non-standard rules, and I'm not sure how you're utilizing them within the linting package. If you have a list of those, and can automatically skip them during validation of this rule, that would be great!

I will have to see what you propose, and test it out, before being able to visualize all the edge use cases. If you want me t

[2016-05-12 19:54] DanPurdy commented on #707
Hmm sorry, we're not usually that organised, we kind of release when we feel we've done enough 😄 we sometimes announce it on Twitter https://twitter.com/DanPurdy0 but that's all i can think of for now.

I would imagine if you check back by the middle of next week you will see that 1.8 is released.

[2016-05-12 19:57] DanPurdy commented on #702
Ok I'll have a little look in a bit then and see what I think.

We have a complete list of the [standard properties](https://github.com/sasstools/sass-lint/blob/develop/data/properties.yml) and we also have a property spelling rule that allows whitelisting of extra property names so I would imagine a combination of that rule and the ignore non standard properties proposal here would cover you both

[2016-05-12 19:59] DanPurdy commented on #698
Yeah sorry this is due to a bug in the AST I'll close this as a duplicate though and we can track it in #644 Thanks anyway 👍

[2016-05-12 19:59] #698 closed

[2016-05-12 20:26] egaudette commented on #702
OK, so I imagine that the no-vendor-prefixes rule does a search for the the prefix values themselves, and doesn't take the actual strings in the remainder of the rules into account at all?

Therefore, the rule needs to be augmented to:
- Check for properties for vendor prefixes.
-- If Prefix
--- If !cssProperties.indexOf(property) && !property.whitelisted
---- throw error.

Or something to that ma

[2016-05-12 23:55] DanPurdy commented on #702
You can try the rule out now from #709 I've chosen to leave the rule functioning as is for now with the option to ignore-non-standard properties down to the user. I felt that it made too much of a drastic change in the number of warnings reported that it may need to be disabled by default for now.

Open to opinions here though.

[2016-05-13 15:13] DanPurdy commented on #392
This is actually done in the sense that parse errors don't break everything now

[2016-05-13 15:13] #392 closed

[2016-05-14 12:16] bgriffith commented on #644
Just to let you guys know, I'm working on a fix for this. Seem to have fixed the the hyphen issue and now looking at the pseudo class issue. If you have any more examples I'd really appreciate if you could post them so I can make sure the testing is thorough :+1:

[2016-05-14 12:54] DanPurdy commented on #452
Sorry for how long this has been hanging about, with the next release of sass-lint and the next release of gulp-sass-lint the ignores in your config will be read and respected again. Includes still won't as they should be passed as glob patterns to gulp-src anyway.

[2016-05-14 14:43] scottyeck commented on #644
@bgriffith Thanks. I'm happy to lend a hand if necessary as well. Lmk. 👌

[2016-05-14 17:01] bgriffith commented on #644
Thanks for the offer @scottyeck ! Only just come up for air... so I've fixed the AST output and have tests for the following pseudo combos:

[code]

Hopefully be able to get a patch out to gonzales in next few days.

[2016-05-14 18:36] bgriffith commented on #642
Just to update that I have fix (https://github.com/tonyganch/gonzales-pe/pull/175) for this so hopefully we'll get an update out soon.

[2016-05-14 20:26] DanPurdy commented on #609
Hi @maddrag0n So I just released v1.5.0 of `linter-sass-lint` for atom which includes a fix for this. It should now check the complete file extension and look for a instance of `scss` or `sass` and then attempt to lint with that syntax set. I'll close this now as I've tested it with a hbs file, but please be aware if you use any non standard SCSS or Sass code (such as a handlebars block {{ AString

[2016-05-14 20:26] #609 closed

[2016-05-15 15:46] sompylasar opened #712 "url-quotes rule should point to the character after the opening paren of url(...)"
### What version of Sass Lint are you using?

sass-lint@1.7.0
linter-sass-lint@1.5.0 for Atom

### Please include any relevant parts of your configuration

[code]

### What did you do? Please include the actual source code causing the issue.

[code]

### What did you expect to happen?

The error position points to either the first character after the opening paren (the dot '.'):
[code]
or to the w

[2016-05-15 15:54] bgriffith commented on #712
Thanks for the report! I think this is valid and it's super easy to fix :+1:

[2016-05-15 16:22] #668 closed

[2016-05-15 18:46] #707 closed

[2016-05-15 19:08] #702 closed

[2016-05-15 19:30] #546 closed

[2016-05-15 22:04] DanPurdy commented on #712
Hmm this should of closed when #713 was merged..

[2016-05-15 22:04] #712 closed

[2016-05-15 22:13] DanPurdy commented on #672
Fixed from #706 will be with you for sass-lint 1.8.0 which should land this week some time.

[2016-05-15 22:13] #672 closed

[2016-05-15 22:13] DanPurdy commented on #694
These will all be available with sass-lint 1.8.0

[2016-05-15 22:13] #694 closed

[2016-05-15 22:23] DanPurdy commented on #381
This should of been closed a while ago as it's been a feature for a while now.

[2016-05-15 22:23] #381 closed

[2016-05-16 00:57] sompylasar commented on #712
@bgriffith @DanPurdy Thanks! When do you think this will get to npm?

[2016-05-16 08:42] #452 closed

[2016-05-16 16:21] egaudette commented on #707
Righty oh! Will do.

[2016-05-16 17:03] egaudette commented on #702
@DanPurdy Sorry for the delayed response, and again, forgive my ignorance, but how would I test this locally? I have cloned the repo, where I have seen your changes reflected in the "develop" branch. I then tried to point our "gulp-sass-lint" reference to the local repo, as opposed to providing a version for npm to install, within the package.json file.

https://docs.npmjs.com/files/package.json#l

[2016-05-16 17:23] GabrielCousin opened #714 "False positives for `variable-for-property`"
Hi! I don't think the following is due to a misconfiguration, but please don't hesitate to tell me if I fucked up :) Thanks in advance.

What version of Sass Lint are you using? 1.7.0

Configuration:
[code]

What did you do? Sass-lint is returning false positives in those cases:
[code]

What did you expect to happen? Previous examples should pass the test.

What actually happened?
[code]

If you'r

[2016-05-16 23:03] DanPurdy commented on #714
Hi @GabrielCousin thanks for this report. Briefly looking at your examples I think your first is an error on our part as the important flag should be respected and ignored.

Your second example I think is a valid lint error, you aren't using a variable for that property you're using a function that passes a variable. In the true sense of the rule the result of the rgba function should be assigned

[2016-05-17 02:07] nmcclay opened #717 "no-color-keywords trips over Sass color function names"
What version of Sass Lint are you using?
1.7.0

Please include any relevant parts of your configuration
no-color-keywords: 2

What did you do? Please include the actual source code causing the issue.
The no-color-keywords rule is getting tripped on the provided sass `red` `blue` `green` function keywords:
[code]
Will throw on the methods 'red', 'blue' & 'green'

What did you expect to happen?
Sinc

[2016-05-17 04:50] omgaz commented on #644
Same issue for this example:

[code]

[2016-05-17 09:21] peduarte opened #718 "Shared lint config amongst projects"
Hey guys,

I tried finding an answer to this question but I couldn't so apologies if this is a duplicate issue.

I've got a few different repos and I'd like them all to share the same Config file, but I'd also like to avoid duplicating the config file for maintainability sake.

My plan was:
1. Create a repo dedicated for `.sass-lint.yml`
2. Publish package to NPM
3. Install package (sass lint conf

[2016-05-17 14:37] DanPurdy commented on #718
I'll have a look into it, we haven't officially added support for extending configurations as you can in eslint yet but it's strange that your config file path you specified isn't being read.

[2016-05-17 14:43] peduarte commented on #718
Thanks @DanPurdy

[2016-05-17 14:45] DanPurdy commented on #718
FYI #140 and #139 are probably relevant here too. I'll take a look at your config declaration and see what is going on later tonight.

[2016-05-17 14:52] peduarte commented on #718
Thanks, I'll follow those

[2016-05-17 23:08] DanPurdy commented on #555
I found the cause of this, if running sass-lint without any options the default glob would match folders labelled like the following 'o.scss' which happens the appear in the sass-graph package which is a dependency of node-sass. If you dont pass options to sass-lint the chances are it attempted to lint your node modules and came across this.

The fix should be with you for 1.8.0

[2016-05-17 23:23] DanPurdy commented on #718
Ok @peduarte You've uncovered a bug that I'm amazed we haven't been testing for or caught!

It does indeed seem that if you specify a config file within a config file it is ignored! Passing this option through as an option directly to our methods is working fine but we never actually check to see if this property exists in your config. I'm just going to look at how this would/should work when impl

[2016-05-18 04:02] stowball opened #720 "Ignore interpolated values for misspelled properties"
When linting for misspellings, interpolated values within property names warn of a spelling mistake. It would be good to exclude these somehow.

For instance

[code]

results in "Property `border-` appears to be spelled incorrectly"

Using v1.7.0 of sass-lint through gulp-sass

[2016-05-18 08:50] peduarte commented on #718
No worries! ✌️

[2016-05-18 12:43] WhatIsHeDoing opened #721 "Unused variable option"
Can an unused variable option please be added?  This simply helps reduce noise in source files.  Thanks

[2016-05-18 12:44] DanPurdy commented on #721
How do you mean an unused variable? Can you provide examples please.

[2016-05-19 12:28] anpa commented on #662
Thanks for this, this is very useful! But what happened to this rule? I can see that it was merged but it doesn't seem to available.

[2016-05-19 12:32] bgriffith commented on #662
It'll be released with version `1.8` (the next release) - so pretty soon.

[2016-05-19 13:18] DanPurdy commented on #717
I'll take a look at this later on, hopefully get it out with our 1.8.0 release

[2016-05-20 00:38] DanPurdy commented on #592
@aberonni this is working for `scss` syntax right now, So this should hopefully be with you for our 1.8 release which I expect to land in the next few days.

If you're using `Sass` syntax then it may be a little while longer but if i get time to look at it prior to 1.8 I will.

[2016-05-20 08:14] mcdado commented on #280
Sorry to comment on an old closed issue, but I arrived here after using `make-sass-lint-config`, receiving the following message:
[code]
[See scss-lint docs](https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#duplicateproperty).

I think adding an option that allows properties not because they are in a whitelist but simply because they are right after the other is very

[2016-05-20 09:08] DanPurdy commented on #280
Hey @mcdado can you open a separate issue up for this please if you'd like to suggest it as a feature. 👍

[2016-05-20 09:36] mcdado opened #726 "Add option "ignore_consecutive" for "no-duplicate-properties""
I arrived here after using [make-sass-lint-config](https://github.com/sasstools/make-sass-lint-config), receiving the following message:
[code]
[See scss-lint docs](https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#duplicateproperty).

I think adding an option that allows properties not because they are in a whitelist but simply because they are right after the other

[2016-05-20 09:37] mcdado commented on #280
Okay! 😉 https://github.com/sasstools/sass-lint/issues/726

[2016-05-23 17:10] sawyerh commented on #447
I just ran into this on sass-lint 1.7.0. Seemed to fail after the include here:

[code]

The `clearfix` mixin looks like:

[code]

Changing to this (space after `@include`) fixed the error:

[code]
[code]

[2016-05-23 17:33] DanPurdy commented on #447
Hey @sawyerh Could you make a new issue with this please, it's easier for us to track and fix these after the issue is closed. Thanks!

[2016-05-24 06:46] megapctr commented on #721
This probably means that a variable is declared, but it's never used anywhere. So for example, this errors:
[code]

Because nothing uses `$foo`.

It would be nice if we could have the same for placeholder selectors and mixins. Often you're refactoring something, and turns out some variables of mixins  aren't used anymore :)

[2016-05-24 09:27] DanPurdy commented on #721
Yeah, I was just trying to get a little more information on the requested scope of this as it'd be fine to handle unused vars in the same file as we lint on a file by file basis, if this is to become a project wide lint for unused variables it may become a little overreaching.

Many people myself included just use files full of defaults etc and then use them again in multiple partials so it differ

[2016-05-24 09:31] DanPurdy commented on #611
@Kathrynwatts Tabs were never supported in the indentation rule as described in the documentation, this was purely down to the fact that until our 1.6.0 update the AST we use didn't support tabs.

I've just updated this rule to hopefully fix the majority of issues we have with indentation and also to allow you to specify the tab character. Should be available with our 1.8.0 update

[2016-05-24 12:36] WhatIsHeDoing commented on #721
Unused variables per file, as in the example by @megapctr , would be great for now!

Personally, I would prefer the option to be project-wide.  In the case of a set of default variables, as you mention @DanPurdy, ignoring them in-place would be fine for a while, but then surely you would want to review why they hadn't been used, them either use or remove them?

[2016-05-24 12:45] DanPurdy commented on #721
The problem is with project wide is we have no sense of your project, we don't try to compile it or care how it would compile so it would be a very dumb attempt at tracking variables across your project and would add a bit of extra overhead.

As i said above per file would be easy to add but may be very annoying for people if they can't disable linters via comments. Probably have to wait for that

[2016-05-24 12:56] WhatIsHeDoing commented on #721
Makes sense, and happy to wait for #677,  too, thanks!

[2016-05-25 13:55] sawyerh opened #729 "empty-line-between-blocks sass issue"
Running into the same error as #447 (included below), except this is on version 1.7.0, which was after the [original fix](https://github.com/sasstools/sass-lint/issues/447#issuecomment-213361113).

[code]

It seems to fail following the `@include` line here:

[code]

The `clearfix` mixin looks like:

[code]

Changing to this (empty line after `@include`) fixed the error:

[code]

[2016-05-25 16:25] PXLRic opened #730 "class name formet hyphenatedbem not working"
What version of Sass Lint are you using?
1.7.0

Please include any relevant parts of your configuration
  class-name-format: hyphenatedbem

What did you do? Please include the actual source code causing the issue.
hyphenatedbem does not allow these names (or the samples ones here: https://github.com/sasstools/sass-lint/blob/master/docs/rules/class-name-format.md#example-6)

.input__radio-group
.in

[2016-05-25 18:52] jessepollak commented on #642
Awesome work here! Would it help if I opened a PR with the version bump for `gonzales-pe`? Cheers!

[2016-05-25 19:12] DanPurdy commented on #642
@jessepollak we've already got one thanks

[2016-05-25 19:53] juliandoucette commented on #18
How the fuck do I turn this off? It's not documented.

[2016-05-25 20:27] DanPurdy commented on #730
@PXLRic I don't think you have your configuration set correctly.

Can you copy and paste exactly what you have.

The warning you are seeing is the warning you would get when using `hyphenatedlowercase`

If you want your config to work for `hyphenatedbem` it needs to look like the following:

[code]

Could you clarify if this works for you? Thanks! 👍

[2016-05-25 21:30] arcanis opened #731 "sass-lint doesn't support simple js files as a valid configuration format"
Two files formats are natively supported by Node.js: js and json. However, neither of these two formats are available to be used as configuration. Could it be possible to add them? You would just have to check that the extension is a key in the `require.extensions` dict, and use `require()` in such a case.

[2016-05-25 22:19] DanPurdy commented on #729
Thanks for the report, I've managed to replicated.

@bgriffith wanna handle this one as you went through this recently?

The issue is in this case parent.content[i - 1] is a string (`'x'` from `'clearfix'`) and so it does pass the checks but doesn't have methods attached as it's not a node obviously.

There are also some other failing cases as far as i can see.

if you include a new block directly

[2016-05-25 22:24] DanPurdy commented on #731
This is true, we do plan to add support soon and there's already a PR i believe that goes part of the way.

The original reason for the format and the config naming was to mimic the scss-lint way so as to keep it familiar for people who adopted this project early. It's just never been updated for others.

[2016-05-26 07:50] PXLRic commented on #730
That's fixed it, thanks. Not too familiar with yml

[2016-05-26 08:23] DanPurdy commented on #730
No problem 👍

[2016-05-26 08:23] #730 closed

[2016-05-26 17:49] albell commented on #70
+1. Excited to switch over to this linter in the near future but this issue is blocking for our team. Thanks for all the hard work.

[2016-05-26 18:02] jonny-improbable opened #732 "funcion causes sass-lint to hang during parsing"
The following function causes `sass-lint` 1.7.0 to hang when run with the default rule-set:

[code]

If you write the above our to `bad-function.sass` then the following command invocation will hang and peg the `node` process at 100% CPU:

[code]

[2016-05-26 18:34] DanPurdy commented on #732
It's actually a problem with the AST we use, `gonzales-pe`, I'll file an issue there.

[2016-05-26 18:34] DanPurdy commented on #732
Oops didn't mean to close it..

[2016-05-26 23:12] DanPurdy commented on #718
Hopefully #733 should solve your problem. It allows you to specify config files to extend from within your project config file (as many 'extends' as you like too.).

This will be mainly feature filler into we roll out proper config extends in a similar vein to how eslint does it.

[2016-05-27 09:32] peduarte commented on #718
@DanPurdy Sweet man! I'll wait when it's merged and give it a go! Will you let me know when a new version has been published to npm?

[2016-05-27 09:58] febLey commented on #593
It's fixed in version 3.3.4. Will we see an update soon?

[2016-05-27 10:06] DanPurdy commented on #593
Yep, we were just waiting to see if some of our other PR's into gonzales would be merged, they need a little bit of work though so we'll get them in at some other point.

We're just gonna go ahead with our 1.8 release anyway once our outstanding tasks are merged as we have a few great additions to release with it. Should hopefully see it in the next few days.

[2016-05-30 21:47] felipegrin opened #734 "False wrong indentation acusation"
When using .sass syntax, Linter is acusing the third line below to be in the wrong indentation .

[code]
_**sass-lint I Warning I indentation I Indentation of 0, expected 2 at line 3 col 1 in sass\style.sass**_

I doesn´t matter if i use tab or spaces.

Help?

[2016-05-31 07:57] febLey commented on #734
https://github.com/sasstools/sass-lint/issues/611

[2016-05-31 09:13] DanPurdy commented on #734
Closing as a duplicate, thanks!

[2016-05-31 09:13] #734 closed

[2016-05-31 09:16] mattbrooks2010 opened #735 "Make formatters pluggable / Add formatter for VSO (aka TFS, VSTS)"
## FEATURE REQUEST
Add a new formatter to support VSO / TFS integration.

## PROPOSED SOLUTION
Implement a new 'VSO' formatter, either built-in or as a plugin. Both options require changes to the way `sass-lint` is currently implemented (see status below).

The solution would be to emit [VSO logging commands](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md), which ar

[2016-05-31 09:28] DanPurdy commented on #735
Thanks @mattbrooks2010 I'm not sure why they were directly using the eslint ones, I think it was a stop gap to get support for formatters before and it's just never been updated since I've been on board 😕 You're right though this definitely needs rectifying soon.

WIll look into it.

[2016-06-01 00:15] IceCreamYou commented on #426
In case it helps reproduce this issue, I've found that it only occurs for me in `@media` queries that include a comma (sass-lint 1.7.0). So it happens here:

[code]

But not here:

[code]

I've found this to be consistent across several rules. Additional commas in the media query seem to further decrease the indentation that sass-lint expects.

[2016-06-01 10:31] DanPurdy commented on #426
@IceCreamYou Thanks for this, can confirm that this will be fixed with the updates to the indentation rule scheduled to drop in our 1.8 release

[2016-06-05 03:38] cchan opened #736 "Unexpected indentation warning"
### What version of Sass Lint are you using?
1.1.1

### What did you do? Please include the actual source code causing the issue.
[code]
### What did you expect to happen?
I was expecting it to validate. Am I doing something wrong?

### What actually happened? Please include any error messages given to you by Sass Lint.
[code]

[2016-06-06 04:09] jackmcpickle commented on #736
I'm getting the same issue in atom. When linting sass files

running node 6.1.0 and sass-lint 1.7.0 - with [atom sass linter](https://github.com/AtomLinter/linter-sass-lint) 1.5.0

[2016-06-06 08:44] DanPurdy commented on #736
There are many other open issues regarding this and a PR to fix this in #725.

#611 will explain the reasons why if you're interested.

[2016-06-06 08:44] #736 closed

[2016-06-06 13:11] #322 closed

[2016-06-07 14:03] #555 closed

[2016-06-08 08:33] #714 closed

[2016-06-08 14:49] paleite opened #737 "&#{&} not working"
With `sass-lint@1.7.0`

The following throws an error:
[code]
The syntax `&#{&}` is what messes it up, but it compiles and works as expected.

[2016-06-08 14:56] DanPurdy commented on #737
related to #385 and https://github.com/tonyganch/gonzales-pe/issues/150

Parse error in gonzales-pe

Should be fixed and released alongside our 1.8.0 update which **should** land in the next few days.

[2016-06-11 11:53] nene opened #738 "Add ignore lists for no-color-keywords and no-color-literals"
**Motivation:** I'd like to use the `no-color-keywords` and `no-color-literals` rules, but I want to allow using colors `black` and `white` or `#000` and `#fff`.

This would be useful for:

- Adopting stricter coding conventions in a more gradual way. I could whitelist the currently used colors, but enforce defining variables for new colors.
- Avoiding silly variables like `$black` and `$white`, c

[2016-06-12 16:48] traviskaufman opened #739 "mixin-name-format should not warn on `@include`."
1.7.0

[code]

Using a mixin defined by a third-party sass library ([typesettings](https://github.com/ianrose/typesettings))
that defines mixins using camelCase, specifically `setType`.

When I `@include setType()` I expected no sass-lint errors.

<img width="776" alt="screen shot 2016-06-12 at 12 44 57 pm" src="https://cloud.githubusercontent.com/assets/1185269/15992494/832659ee-309b-11e6-9dca-56

[2016-06-15 14:17] #718 closed

[2016-06-16 07:29] thasmo commented on #645
PostCSS [announced](https://twitter.com/PostCSS/status/738830257344663552) it is going to introduce a common PostCSS config using cosmiconfig.

[2016-06-16 07:53] DanPurdy commented on #645
I plan on looking at this for our 1.9 release, 1.8 should hopefully be landing soon, just a few PR's to get merged in. 1.9 will hopefully be all about supporting other config formats and a more robust ability to extend configs above the existing `config-file` [option](https://github.com/sasstools/sass-lint/pull/733) we've improved for 1.8.

👍

[2016-06-16 11:05] #382 closed

[2016-06-16 11:05] #426 closed

[2016-06-16 11:05] #592 closed

[2016-06-16 11:41] #717 closed

[2016-06-16 11:48] mlenser commented on #382
@bgriffith does this also fix the CRLF issue on windows?

[2016-06-16 12:11] DanPurdy commented on #382
@mlenser Yes it will do, we test every rule with CRLF line endings on Appveyor as well as LF on Travis now. We'll release this in 1.8.0. I fixed an issue with the AST that means CRLF should be providing correct warnings across the board now.

I've also added support for tabs with the indentation fixes.

Keep an eye out for 1.8 👍

[2016-06-16 12:38] DanPurdy commented on #611
@allenhartwig this will be fixed in our 1.8 update. Closing as it's already merged in ready to go.

[2016-06-16 12:38] #611 closed

[2016-06-16 12:47] DanPurdy commented on #642
This will be fixed when 1.8 is released

[2016-06-16 12:53] DanPurdy commented on #617
These are all sorted now.

[2016-06-16 12:53] #617 closed

[2016-06-16 13:16] mlenser commented on #382
@DanPurdy Awesome! Thank you so much!!

[2016-06-16 20:48] adrifmonte opened #740 "Property Units documentation citing deprecated naming rule"
I was looking into every rule documentation, and I found an incorrect naming usage:

https://github.com/sasstools/sass-lint/blob/master/docs/rules/property-units.md

While the options are just `global` and `per-property`, the second example mentions about `globally-allowed-units` and `units-allowed-for-properties`.

I believe those are their former names, which after a rename refactoring, was miss

[2016-06-16 21:14] DanPurdy commented on #740
Thanks, do you want to submit a PR? We can update it if not. 👍

[2016-06-16 21:24] DanPurdy commented on #738
I'm open to adding whitelists here, I do agree with your first two points, i'm not too sure on the third though but at least with these in place everyone has the option.

[2016-06-17 08:53] arcanis commented on #642
Just for information, is there an ETA for the 1.8 release ? Would you say it's a matter of days or weeks ?

[2016-06-17 08:58] bgriffith commented on #642
Days if not today.

[2016-06-17 14:05] DanPurdy commented on #737
Sass-lint 1.8.0 is out now.

[2016-06-17 14:05] #737 closed

[2016-06-17 14:07] DanPurdy commented on #642
@arcanis Sass-lint 1.8 is out now

[2016-06-17 14:07] #642 closed

[2016-06-17 14:08] DanPurdy commented on #385
So the original issue is fixed, but the example is still failing with the AST 😢

[2016-06-17 14:20] bgriffith commented on #166
Indentation is now good.

[2016-06-17 14:20] #166 closed

[2016-06-17 14:41] DanPurdy commented on #718
@peduarte sass-lint 1.8.0 is out now

[2016-06-17 14:51] DanPurdy commented on #702
@egaudette sorry for the long delay in releasing this but 1.8.0 is out now with the these changes included.

[2016-06-17 14:52] DanPurdy commented on #374
Just noticed this issue again, 1.8.0 should be sufficient to address this see #709 for details

[2016-06-17 14:52] #374 closed

[2016-06-17 15:30] egaudette commented on #702
@DanPurdy No worries! Thanks for the ping. I'll give them a once over in the coming weeks.

Thanks again for all the hard work, guys.

[2016-06-19 03:43] keeganstreet commented on #702
Thanks!

[2016-06-19 17:05] whaaaley opened #744 "Bug: space-after-colon warning when trailing-semicolon is set to false."
I'm using `sass-lint` through the Atom plugin `linter-sass-lint`. In the screenshot you can see Atom's SCSS syntax highlighter is also bugged in the same scenario, however appears to be valid SCSS syntax. The dot and underline shows where the warning is coming from.

![img](http://f.cl.ly/items/430H3A1M3Q2W2o1j1d1m/Screen%20Shot%202016-06-19%20at%2011.49.00%20AM.png)

---

When the trailing semico

[2016-06-19 17:16] soloproyectos opened #745 "Sass lint stop working on concatenated strings"
Does not work:
[code]

Mysteriously works:
[code]

Works perfectly:
[code]

**Additional info:**
linter-sass-lint version: 1.6.1
Atom version: 1.8.0
Sass version: Sass 3.4.22 (Selective Steve)
OS version: Xubuntu 16.04

[2016-06-20 10:29] DanPurdy commented on #745
Thanks for the report, it's an issue with the AST we use.

Also a duplicate of https://github.com/sasstools/sass-lint/issues/63

[2016-06-20 10:29] #745 closed

[2016-06-21 16:19] egaudette commented on #702
@DanPurdy Sorry for the day. The 'ignore-non-standard: true' is working out great!

Yet, I just tried to utilize this improvement, but I am running into a problem with a -ms- prefixed property (gold old IE - never dies). Take the following mixin, for example. Since IE8 takes a different format for its 'filter' property, it needs the -ms- prefix. If the -ms- prefix is added to the excluded-identifi

[2016-06-21 16:23] egaudette commented on #707
@DanPurdy This is working splendidly. Thanks!

[2016-06-22 01:41] seeliang opened #747 "empty-arg for @include"
What version of Sass Lint are you using?
├── gulp-sass-lint@1.1.1
└── sass-lint@1.7.0

Please include any relevant parts of your configuration
empty-arg: false

What did you do? Please include the actual source code causing the issue.
gulp sass-lint

What did you expect to happen?
to catch  ```@include hover-set() ```

What actually happened? Please include any error messages given to you by Sass

[2016-06-22 02:11] seeliang commented on #747
My bad,
empty-arg: false
=>
empty-arg: 1

[2016-06-22 02:11] #747 closed

[2016-06-22 12:17] sndrs opened #748 "`shorthand-values` ignores computed values"
What version of Sass Lint are you using?
`1.8.0`

Please include any relevant parts of your configuration

What did you do? Please include the actual source code causing the issue.

What did you expect to happen?
**pass**

What actually happened? Please include any error messages given to you by Sass Lint.

If you're using a IDE plugin have you tried the CLI too?
**this is from the CLI (grunt-sass

[2016-06-22 13:01] evoL opened #749 "Incorrect indentation suggested for series of functions"
**What version of Sass Lint are you using?**
1.8.0

**Please include any relevant parts of your configuration**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I expected the lint to pass.

**What actually happened? Please include any error messages given to you by Sass Lint.**

[code]

It seems that the indentation

[2016-06-22 15:39] FStop opened #750 "class-name-format ignore: wildcard possible?"
Using 1.8.0

I'm wondering if any sort of wildcard is possible for the list of ignored selectors in the `class-name-format`. In our project we have a ton of selectors related to the Field Manager plugin that all start with `.fm-*` and it would so great to ignore all of them without having to list them all out, as there are dozens, and there will no doubt be dozens more.

[2016-06-22 16:24] DanPurdy commented on #749
This is actually due to a bug in the AST at the moment. You can see the issue here https://github.com/tonyganch/gonzales-pe/issues/193 unfortunately it affects more than indentation at the moment.

[2016-06-22 18:18] DanPurdy commented on #750
There isn't this option and i'm also not sure it's something I would like to see added either as it opens up a lot of edge cases. I think once the ability to disable linters via comments is enabled it would be better to use these to disable this rule instead of trying to apply this to all name format rules. Happy to discuss though.

[2016-06-22 18:20] DanPurdy commented on #720
This is 'fixed' in 1.8.0 but only because I've spotted a new bug! 😭

[2016-06-22 19:13] DanPurdy opened #753 "No color hex"
We have a rule to prevent the use of color keywords and a rule to disallow all color literals but not to just disallow hex colors.

[2016-06-22 19:32] DanPurdy commented on #591
Thanks @wbobeirne definitely a good idea to doc it here as I've just got it in my head at the minute!

[2016-06-22 20:19] FStop commented on #750
Hadn't considered that, but if that's the case I can understand the hesitation.

Yeah this is one of the few (maybe only) things still in the way of us moving over from scss-lint for our main project. We have quite a few places we're using the comments for selectors that target third party stuff that we can't really change to fit our coding conventions.

Seems like disabling via comments would pro

[2016-06-23 12:05] sktt opened #756 "sass-lint doesn't find the project configuration"
If I understand correctly sass-lint should try to find a .sass-lint.yml or package.json the current folder and then continue with the parent directory and recurse until it's found. Currently however it doesn't, it will only try to find a config file in the current cwd if not specified.

[2016-06-23 12:14] #748 closed

[2016-06-23 13:40] #740 closed

[2016-06-23 16:20] DanPurdy commented on #756
closed in #757

[2016-06-23 16:20] #756 closed

[2016-06-23 21:05] travi opened #760 "Gonzales 3.3.5 issue with nth selector"
What version of Sass Lint are you using?
1.8.1

Please include any relevant parts of your configuration

What did you do? Please include the actual source code causing the issue.
I use `grunt-sass-lint` which depends on a range (`^1.2.0`). Rather than specify a version in my project directly on `sass-lint`, I leverage it through the transitive dependency. When a build ran after the new version was

[2016-06-23 21:09] DanPurdy commented on #760
That error message means the breaking change isn't with sass-lint it's with our AST dependency [gonzales-pe](https://github.com/tonyganch/gonzales-pe)

[2016-06-23 21:10] travi commented on #760
what options do i have as a consumer other than pinning an old version?

[2016-06-23 21:12] DanPurdy commented on #760
Well gonzales also only released a patch version so i'll have a look into it, if nothing else we can roll a quick hotfix to pin gonzales at its previous version soon.

[2016-06-23 21:14] travi commented on #760
thank you for digging in. i'll pin a version on my end for now. happy to provide more info if it would be helpful.

[2016-06-23 21:14] DanPurdy commented on #760
Awesome, sorry for the breakages

[2016-06-23 21:26] DanPurdy commented on #760
so it's the `n+10` causing the issue

if you change it to this interestingly it works...
[code]

or even

[code]

I'll report it at gonzales and see if i can spot the issue, for now though I think i'll run a hotfix release 1.8.2 and pin gonzales back a version as this is obviously quite a common scenario.

[2016-06-23 21:33] DanPurdy commented on #760
For reference https://github.com/tonyganch/gonzales-pe/issues/194

[2016-06-23 21:46] DanPurdy commented on #760
waiting for the tests to pass in #761

[2016-06-25 12:17] natorojr commented on #591
This may or may not be related to this issue, but I'm also seeing indentation issues with multiline nested structures:

[code]

[2016-06-25 16:37] DanPurdy commented on #591
That's a separate issue @natorojr could you file a new issue please so we can keep track of it a little easier. Thanks.

[2016-06-26 20:13] TDA opened #765 "ParserException: Unexpected input token AMPERSAND"
What version of Sass Lint are you using?
0.0.10
Please include any relevant parts of your configuration
Default config file, just installed with `npm i sasslint -g`

What did you do? Please include the actual source code causing the issue.
Ran `sasslint password.scss`.
Fails linting this:
[code]
What did you expect to happen?
Lint errors to appear

What actually happened? Please include any error

[2016-06-26 20:19] TDA commented on #765
Ok, this was dumb. I am using sasslint and not sass-lint :| I should shut up.

[2016-06-26 20:19] #765 closed

[2016-06-27 10:10] DanPurdy commented on #765
Didn't even realise this one existed! https://www.npmjs.com/package/sasslint

We've all done it before 👍  you should totally use sass-lint though ;)

[2016-06-27 15:23] TDA commented on #765
@DanPurdy Switched over, and boy, has it been awesome! 💃 Great work guys!!

[2016-06-27 15:50] controversial opened #766 "no-qualifying-attribute with wildcard"
On the latest version of sass-lint, the warning not to use qualifying elements is thrown even when the equivalent selector is impossible to use. I'm using a wildcard to match a class beginning with `language-`, and the linter on my SASS file complains, even though I can't use `.language-` to do this kind of matching. Perhaps this rule should be revised?
![screenshot 2016-06-27 at 11 47 33 am](http

[2016-06-27 17:11] controversial commented on #766
Never mind, I misunderstood the message.

[2016-06-27 17:11] #766 closed

[2016-06-29 09:04] peduarte commented on #70
Hey guys,
I'm running `sass-lint@1.8.2` and linter toggle via comment doesn't seem to be working. I've gone through the issues and pull requests and I cannot tell whether it's been implemented or still WIP?

Could someone please let me know?

Thanks! 👍

[2016-06-29 09:11] peduarte commented on #603
👍

The lints considers pseudo-selectors as normal dom elements, causing the nesting-depth warning to pop way too often.

[2016-06-29 11:07] DanPurdy commented on #70
It's not been released yet, still WIP in #677 hoping to find some time soon to look into it...

[2016-06-29 13:18] peduarte commented on #70
@DanPurdy ok thanks

[2016-06-29 17:14] rugk commented on #542
I've done it: https://github.com/tonyganch/gonzales-pe/issues/195

[2016-06-29 17:44] rugk opened #768 "Allow inline comments for ignoring Sass-lint"
v1.8.2

The issue is generally described in https://github.com/eslint/eslint/issues/6560. The short version is: I use Jekyll/Liquid, which has a special syntax, but this syntax is considered as a syntax error by sass-lint.

So e.g. take this example:

[code]

I got the error: "Please check the validity of the block starting from line #xy".

It would be nice if you could...

1. still syntax-check t

[2016-06-29 20:05] rugk opened #769 "property-sort-order does not pay attention to vendor prefixes"
v1.8.2

[code]

[code]

No error from `property-sort-order`as there are only some vendor prefixes...

Even with `ignore-custom-properties` set to true it does not work.

No, Atom plugin.

[2016-06-29 21:48] alansouzati commented on #222
Thanks a lot @DanPurdy the latest version of grommet-toolbox now uses sass-lint. I'm proud to say that now we are a node-only project.

[2016-06-29 23:57] alansouzati opened #770 "valid @each with & not working"
Using 1.8.2, happens both in cli and from IDE.

This block is a valid one and I get:

[code]

If I remove the "-" it works normally:

[code]

Any pointers?

[2016-06-30 07:49] mzdr opened #771 "Nesting rule is broken?"
Hey there,

I'm using `grunt-sass-lint` (v0.2.0) with `sass-lint` (v1.8.2) and I'm having troubles with the nesting rule. There is this specific pattern where the rule isn't working anymore.

I'm using `nesting-depth` with `max-depth: 1`, the whole configuration file is attached. ([sass-lint.yml.txt](https://github.com/sasstools/sass-lint/files/340897/sass-lint.yml.txt))

So here is what I do:

[c

[2016-06-30 10:33] DanPurdy commented on #222
@alansouzati Awesome! 🎉

[2016-06-30 12:42] eolognt commented on #768
Apparently there is people working on this already: https://github.com/sasstools/sass-lint/issues/70 :)

[2016-06-30 13:08] DanPurdy commented on #768
Yep, it's being worked on here https://github.com/sasstools/sass-lint/pull/677

Closing as duplicate of #70

[2016-06-30 13:08] #768 closed

[2016-06-30 13:19] DanPurdy commented on #542
Reopened to continue discussion around this.

[2016-06-30 13:20] DanPurdy commented on #770
It's an issue with the AST `gonzales-pe` I believe this PR will fix the issue for you https://github.com/tonyganch/gonzales-pe/pull/179 once it's merged and released.

[2016-06-30 14:08] eolognt commented on #591
Fixing this would be very appreciated.

[2016-06-30 14:45] bgriffith commented on #760
Pushed a PR that fixes this issue :+1:

[2016-06-30 16:11] alfaproject opened #772 "Issue with shorthand-values rule"
**What version of Sass Lint are you using?**
    ✓ ~/Documents/cherrytech/stash/el-desktop (master) › cat node_modules/cherrytech-build-dev/node_modules/sass-lint/package.json | grep \"version\"
      "version": "1.8.2"

**Please include any relevant parts of your configuration**
    ✓ ~/Documents/cherrytech/stash/el-desktop (master) › cat node_modules/cherrytech-build-dev/config/.sass-lint.yml |

[2016-07-01 17:22] alansouzati commented on #770
Thanks for the follow up. For now I'm using the following work around, hope it helps folks facing similar issue:

[code]

Basically, I've moved the selector to be outside of the nested `&` scenario.

[2016-07-02 00:08] oliver---- opened #775 "Feature: Detecting nbsp (non-breaking-spaces) in selectors"
What version of Sass Lint are you using?
1.8.2

We recently found out that some of our CSS rules were not applied because we had a non-breaking-space (`&#160;`) in these selectors. Especially under OSX this can happen easily using `Opt+Space` accidentally.

It would be nice, to be able to detect such errors using sass-lint.

[2016-07-04 07:55] todd-richmond commented on #70
See [http://stackoverflow.com/questions/35136098/have-sass-lint-ignore-a-certain-line] for a thread on this as well

For me, I need to import Google Material Design icons, but the documented css logic causes no-duplicate-properties and no-vendor-prefixes to fire. I therefore want to keep those rules for every other file in my tree except my font.scss file

[code]

[2016-07-06 12:40] StrangePurple commented on #738
A whitelist would be perfect @DanPurdy. I agree with the OP's first two points, I want to enable `no-color-literals` but I'm not a fan of being forced to create map/variable values for `#000` and `#fff`.

[2016-07-07 19:33] cappadona opened #779 "@import throws off indent rule starting with v1.8.0"
Upgraded to `v1.8.2` earlier today and encountered some funkiness with indentation. Tracked it down to being introduced with `v1.8.0`.

Here's a sample file to reproduce this issue (using the default config):

**indent-fail.scss**
[code]

Here's the CLI output when using `v1.8.2` (or anything >= `v1.8.0`):

[code]

here's a diff with a sample file that doesn't exhibit this issue (comment out the t

[2016-07-08 09:17] DanPurdy commented on #779
@cappadona thanks for the detailed report, 1.8.0 saw massive changes to actually make indentation work for a lot more scenarios and Sass syntax so I think there's obviously still a few edge cases that were missed. I'll look into this one soon.

👍

[2016-07-08 09:44] tzi opened #780 "Empty line between blocks: Should media-queries be considered as block?"
Hi!

I'm using sass-lint 1.8.2 with `empty-line-between-blocks: 2`.

I'm surprised that the following code is considered as valid:

[code]

Is media-queries (and mixin with content argument) shouldn't be considered as block?

I can try to propose a PR if it is validate by the community :wink:

Cheers,
Thomas.

[2016-07-08 09:50] DanPurdy commented on #780
Yeah, this looks like a bug to me. Should definitely be considered a block. Happy to receive a PR to fix this.

[2016-07-08 13:16] bertusgroenewegen opened #781 "Use of &-- (ampersand)(dash)(dash)"
**What version of Sass Lint are you using?**
    "node-sass": "~3.4.2",
    "sass-lint": "^1.8.2",

**Please include any relevant parts of your configuration**
sass-lint.yml used : http://sasstools.github.io/make-sass-lint-config/

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
That sass-lint doesn't mark the usage of &-- as

[2016-07-08 13:20] DanPurdy commented on #781
It's a bug in the AST we use. See here https://github.com/tonyganch/gonzales-pe/pull/179

[2016-07-11 08:20] nicolas-goudry commented on #625
Hello,

I think this issue is not fixed. I manually configured sass-lint, here is [my config](https://gist.github.com/nicolas-goudry/1d6aef89626c750d17eaff307d67ccb0).

I set
[code]
And `sass-lint` is still processing all folders within my project directory… But that's not the point!

The error is happening with `bemDepth.js` because function is trying to split a `null` value. Here is the stack tr

[2016-07-11 08:56] DanPurdy commented on #625
@nicolas-goudry This is a separate issue, this issue is to do with the placeholder name format rule, yours is the bem depth rule.

Could you please open a new issue and include the information that is requested, we can then investigate it for you. Thanks! 👍

[2016-07-11 09:14] nicolas-goudry opened #782 "BEM Depth issue with intepolated placeholder"
Hello,

There's an issue with `bem-depth` rule. I manually configured sass-lint, here is [my config](https://gist.github.com/nicolas-goudry/1d6aef89626c750d17eaff307d67ccb0).

The error is happening because function is trying to split a `null` value. Here is the stack trace:

[code]

This is happening with a `sass-lint` test file: `sass-lint/tests/sass/placeholder-name-format.sass` and rule is at

[2016-07-11 09:15] nicolas-goudry commented on #625
@DanPurdy It's done, thanks! ==> [https://github.com/sasstools/sass-lint/issues/782](https://github.com/sasstools/sass-lint/issues/782)

[2016-07-11 09:29] DanPurdy commented on #782
What version of sass-lint?

[2016-07-11 09:30] nicolas-goudry commented on #782
It's latest 1.8.2

[2016-07-11 09:31] nicolas-goudry commented on #782
Forgot to mention that I use it with `sasslint-webpack-plugin`, but doesn't seem to be related.

[2016-07-12 09:35] roelvanhintum opened #783 "Nested maps whitespacing does not lint correctly"
Nested maps whitespacing does not lint correctly with sass-lint 1.8.2
The issue is consistent with `sass-loader@3.2.3` and Atom's `linter-sass-lint@1.6.1`.
I'm using a Mac 10.11.5.

[code]
Result:
[code]

Indentation setting (yml):
[code]

[2016-07-13 05:09] seeliang opened #784 "Nesting in @include / for media query"
What version of Sass Lint are you using?
    "gulp-sass-lint": "^1.2.0",

Please include any relevant parts of your configuration
  nesting-depth:
    - 1
    - max-depth: 3

What did you do? Please include the actual source code causing the issue.
[code]

What did you expect to happen?
catch the nesting limitation 3

What actually happened? Please include any error messages given to you by Sass L

[2016-07-13 10:04] asaadmahmoodspin opened #785 "Where is my sass-lint.yml file"
I would like to know where is my sass-lint.yml file. I have been using sass-lint in one of my other project and it works fine and I have a sass-lint.yml file there. However for my other projects I didn't create the sass-lint file but still the highlight works. Now I need to find out which file is it looking for when it's highlighting stuff so I can change it.

[2016-07-13 10:07] asaadmahmoodspin commented on #785
Okay i found it out, it's in `/usr/local/Cellar/node/0.10.32/lib/node_modules/sass-lint/lib/config/sass-lint.yml`.

[2016-07-13 10:11] DanPurdy commented on #785
@asaadmahmoodspin by default sass-lint uses the config file included within the package. You can then modify the settings in your own config or disable the `merge-default-rules` option to start from scratch. Check the config docs https://github.com/sasstools/sass-lint/tree/develop/docs/options and especially the `merge-default-rules` option https://github.com/sasstools/sass-lint/blob/develop/docs/

[2016-07-13 10:14] asaadmahmoodspin commented on #785
Does it use this one?
![screen shot 2016-07-13 at 3 13 54 pm](https://cloud.githubusercontent.com/assets/11034289/16799986/86e50862-490c-11e6-8e83-45c1b0255e45.png)

[2016-07-13 10:16] DanPurdy commented on #785
Yes, that's the default config file.

[2016-07-13 10:18] asaadmahmoodspin commented on #785
Okay cool, thanks!

[2016-07-13 10:18] #785 closed

[2016-07-13 10:23] siiron opened #786 "Error when using attribute-selector in combination with @At-root directive"
I use [gulp-sass-lint](https://github.com/sasstools/gulp-sass-lint) in my project and originally filed an [issue in that repo](https://github.com/sasstools/gulp-sass-lint/issues/50#issuecomment-232305378). The author asked me to file the issue here instead since gulp-sass-lint just consumes sass-lint.

So in context of my gulp-sass-lint setup, I'm currently on version 1.8.2 of sass-lint.

It seems

[2016-07-13 10:27] DanPurdy commented on #786
Thanks @siiron it's just easier for us to keep track of these issues in sass-lint. It's a problem with the AST we use, Gonzales-pe whenever you see that `check the validity` message. Will look into it. 👍

[2016-07-13 13:32] basvandenberg opened #787 "Fix typos in no-vendor-prefixes rule documentation"
There are some typos in the documentation of the [no-vendor-prefixes](https://github.com/sasstools/sass-lint/blob/develop/docs/rules/no-vendor-prefixes.md) rule:

In the sub-section [Additional Identifiers](https://github.com/sasstools/sass-lint/blob/develop/docs/rules/no-vendor-prefixes.md#additional-identifiers) the word `test` should be replaced with `khtml`.

In subsections [Additional Identif

[2016-07-13 15:21] DanPurdy commented on #787
Thanks @basvandenberg do you have a PR waiting for this?

[2016-07-13 19:28] basvandenberg commented on #787
Just created a new pull request.

[2016-07-14 05:56] StrangePurple opened #789 "single-line-per-selector is seeing inline comments as selectors"
**What version of Sass Lint are you using?**
**gulp-sass-lint 1.2.0**, which I believe is using **sass-lint 1.8.0**

**Please include any relevant parts of your configuration:**
`single-line-per-selector` is enabled.

**What did you do? Please include the actual source code causing the issue.**
I'm adding inline comments to the end of selectors/properties. See issue below:

[code]

**What did you

[2016-07-14 09:17] #787 closed

[2016-07-18 08:56] nicolas-goudry commented on #571
@DanPurdy Hello, I wonder why this issue didn't add a whitelist option to `variable-for-property` rule? Currently, I'm diging through our codebase to remove all arbitrary fixed `margin` and `padding` and we can sometime use `auto` or `0` which are IMO non-sense to set as `$auto-spacing` or `$no-spacing` variables…

Is it possible to allow users to extend the default whitelist like this?

[code]

I

[2016-07-20 07:04] rernens opened #792 "sass-lint Bootstrap 3.3.6 fails on two mixin files"
What version of Sass Lint are you using?

I am using the angular-advanced-seed with scss support enabled meaning sass-lint is invoked through the gulp-sass-lint plugin.
Same error thrown when running the CLI interface.

Version installed of sass-lint is 1.8.2. Installed through npm 3.9.5

Please include any relevant parts of your configuration

no specific configuration file, using the default con

[2016-07-20 10:13] DanPurdy commented on #792
Similar issue to #781 but it's an error in the AST we use Gonzales-pe. It'll be fixed in their latest release. See https://github.com/tonyganch/gonzales-pe/pull/179

[2016-07-20 17:37] mikeerickson opened #793 "Error running `sass-lint` from CLI"
I am just now trying to use the sass-lint CLI and am receiving the following error

[code]

[2016-07-21 13:59] ahiipsa commented on #358
I had some error with validate scss in .css file by using cli:
**--syntax scss** save me %)
[code]

[2016-07-21 20:53] chriswelchgb opened #794 "Forced element nesting thrown when using multi-selector"
What version of Sass Lint are you using?
1.8.0

Please include any relevant parts of your configuration
  force-element-nesting: 1

What did you do? Please include the actual source code causing the issue.
Used a multi-selector where an element has to be both .button and .primary
.button.primary {
  background-color: $color-button-primary;
  font-weight: 600;

  :hover {
    background-color: tran

[2016-07-21 21:20] chriswelchgb commented on #794
More about multi-selectors if it's helpful. https://css-tricks.com/multiple-class-id-selectors/

[2016-07-21 21:42] chrisdrackett opened #795 "@import without quotes"
when using `sass` syntax I would expect to be able to use an import without quotes ala:

http://sass-lang.com/documentation/file.INDENTED_SYNTAX.html#_import

however, currently I get the following:

`Please check validity of the block starting from line #1`

[2016-07-22 15:35] alfaproject commented on #794
That's CSS, for SASS this is what you should be doing, and the reason you get the warning:

[code]

[2016-07-22 17:08] chriswelchgb commented on #794
That worked!

[2016-07-22 17:08] #794 closed

[2016-07-25 09:23] rernens commented on #792
@ DanPurdy thanks for the info. Any idea of an availability timeframe ?

[2016-07-25 11:42] ukupat opened #796 "Using pseudo class with keyframes produces Fatal error"
**What version of Sass Lint are you using?**
v1.8.2

**Please include any relevant parts of your configuration**
We are not using default rules (we have defined our own rules list in config), but anything else is default.

**What did you do?**
We started using CSS Modules but we wanted to use some keyframes globally that were defined in .scss. For that we had to use `:global` pseudo class that tak

[2016-07-25 16:34] wernerdweight opened #797 "[sass] Using Keyframe Mixin (Compass) produces a Fatal"
**What version of Sass Lint are you using?**
v1.8.2

**Please include any relevant parts of your configuration**
I don't think it's relevant, but here it is:

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No linting errors (or maybe some, but not a Fatal).

**What actually happened? Please include any error message

[2016-07-26 02:08] Olivia101 opened #798 "Having sass-lint disable and enable linters using special inline comments"
Consider adding the ability to tell sass-lint disable/enable linters in a specific area of .scss file like it can be done with scss-lint as shown below:

// scss-lint:disable BorderZero
p {
  border: none; // No lint reported
}
// scss-lint:enable BorderZero

[2016-07-26 09:38] DanPurdy commented on #798
Please try to search the existing issues before opening a new one. Thanks.

#70
#677

Closed as a duplicate

[2016-07-26 09:38] #798 closed

[2016-07-26 09:41] DanPurdy commented on #797
This is a bug with the AST you need to report it at https://github.com/tonyganch/gonzales-pe

[2016-07-26 09:50] DanPurdy commented on #796
HI, this is an issue with the AST sass-lint is using, please report the issue there also. https://github.com/tonyganch/gonzales-pe

[2016-07-26 09:51] DanPurdy commented on #795
HI, this is an issue with the AST sass-lint is using, please report the issue there also. https://github.com/tonyganch/gonzales-pe

[2016-07-26 09:52] DanPurdy commented on #793
Could you please post the area of the code where this is failing. Could you please also include the other information that we ask for in the issue template such as sass-lint version etc. Thanks

[2016-07-26 10:39] ukupat commented on #796
I will, thanks!

[2016-07-26 15:57] mikeerickson opened #799 "Unable to find ..package.json?"
I am receiving the following error (see below) when running CLI.

Note:  If I run command from node_modules directory and call as, it works?  Must I supply the configuration file, or is the default configuration used

[code]

[code]

[2016-07-26 16:17] mikeerickson opened #800 "Different issue (bigger issue?)"
I removed the global `sass-lint` and only have it installed at project level

Now when calling `sass-lint` (from root of project), I receive these errors

[code]

[2016-07-26 16:22] mikeerickson commented on #799
I think I have tracked down the issue.  In my `.sass-lint.yml` file, my files were incorrect (I was using the default config file)

[code]

should have been as follows

[code]

[2016-07-26 16:23] mikeerickson commented on #799
FYI, I took the `.sass-lint.yml` file from here

https://github.com/sasstools/sass-lint/blob/master/lib/config/sass-lint.yml

[2016-07-26 18:39] mikeerickson commented on #799
Well, I guess things are NOT working.  When I reported it was cured above (I didnt realize I was in the actual src directory where all the .sass files are located).

So, when returning to root directory, this is what happens

[code]

[2016-07-26 18:42] mikeerickson commented on #799
So, again, the only way I can get this to work is cd to sass directory, then I perform the following

[code]

[2016-07-26 18:53] mikeerickson commented on #799
Curiously, the following command *does* work

[code]

Not quite sure why this works, but other commands such as below don't work

[code]

produces error of inability to locate `package.json` (see above)

[2016-08-01 08:26] intellix opened #805 "motion-offset and motion-path give no-misspelled-properties"
https://developer.mozilla.org/en-US/docs/Web/CSS/motion-path

[2016-08-04 01:15] chrisdrackett opened #809 "error when using math along with a variable name"
What version of Sass Lint are you using? `1.7.0`

Please include any relevant parts of your configuration

`space-around-operator: 0`
`  variable-name-format:
    - 1
    - convention: snakecase`

What did you do? Please include the actual source code causing the issue.

`$global_nav_width: $grid*10`

What did you expect to happen?

I expect this to output without errors.

What actually happened?

[2016-08-04 03:06] jeffkamo opened #810 "Passing !important as a function argument causes "check validity of the block" error"
**What version of Sass Lint are you using?**
1.8.2

**What did you do?**
In my code, I had the following (which indeed [should work](http://www.sassmeister.com/gist/9d25b986c2003d52261b563cae3f6fa5)):

[code]

Notice the third instance of `@include test()` has `!important` passed into it as part its argument. This is the cause of the error, as per below.

**What did you expect to happen?**
I expec

[2016-08-04 06:33] chrisdrackett commented on #809
looks like `$grid/4`, `$grid+4` work, in addition to `*`, `$grid-4` does not work

[2016-08-04 07:12] BPScott commented on #809
The `$grid-4` case is a funky one. Sass allows hyphens in variable names, which means that fiddling with spacing around operators leads to different results (and potentially compilation errors):

[code]

Sassmeister: http://www.sassmeister.com/gist/312e4069430d4be672cd5202de4ef205

---

Thus it is impossible to enforce no space around operators if you want to do subtraction.

Sass-lint should prob

[2016-08-04 07:15] BPScott commented on #810
Sounds like a bug in the AST. Can you report it at https://github.com/tonyganch/gonzales-pe

[2016-08-04 17:35] jeffkamo commented on #810
Thanks @BPScott, it looks like it's a known issue for them. Someone posted an issue about it [here](https://github.com/tonyganch/gonzales-pe/issues/168)!

[2016-08-04 18:33] danwaz opened #813 "no-url-protocols doing more than checking protocols"
I feel like this rule is overloaded. A user should be able to check for protocols separately from domains.  I'd recommend adding configuration that could enable/disable the two parts of this rule or creating a separate rule that handles the domain check.

sass-lint@1.8.2

[2016-08-04 21:27] DanPurdy commented on #813
HI @danwaz I completely agree with you. Our aim has always been for small single purpose rules and therefore I think your suggestion would perfectly suit this mindset. This would present a breaking change though so I propose maybe the following.

1. We keep the rule working as is but we add a flag such as 'enforce-domains` too which would be on by default.
1. We add the no-url-domains rule to mimi

[2016-08-04 21:33] DanPurdy commented on #809
Thanks for bringing this up, I'll look into it. Also as @BPScott mentioned the minus in variable names like that is quite a well known quirk of the language which isn't something I'd expect to see ever resolved.

[2016-08-04 22:03] DanPurdy commented on #799
Can you provide a few details such as the platform you're on what version of sass-lint you're using globally and in your project and then any steps to recreate this.

I've installed fresh copies of everything both globally and locally and can't recreate these issues. To me it looks like an installation error as the package file it's referring to is sass-lints own package file which would be presen

[2016-08-04 22:34] DanPurdy commented on #800
As i mention in your other thread I feel this is an installation error on the information provided. Calling sass-lint from the root of your project the way you describe above without having it installed globally should fail. Are you sure you don't have a version of sass-lint hanging about globally somewhere, maybe a different version of node if you use nvm?

[2016-08-05 00:01] mikeerickson commented on #800
No worries I have managed to get all things working.  You can close this (and the other issue). I would close myself right now, but this app I am using doesn't provide this functionality.

[2016-08-05 00:02] mikeerickson commented on #799
As mentioned in other ticket, these issues have been cleared.

[2016-08-05 09:02] #800 closed

[2016-08-05 09:02] #799 closed

[2016-08-05 14:23] danwaz commented on #813
Thanks @DanPurdy.  This sounds like a solid path forward.  I don't mind taking on the work and getting this into PR.  Also a bit busy on my end, but I'll see what I can do.

[2016-08-06 08:21] smnbbrv commented on #70
Hi guys, this issue seems to have a long story behind and it does not look like it will be fixed in the closest future.

Is there a way to use a beta / alpha / whatever version? I would be totally fine with that.

[2016-08-06 14:56] DanPurdy commented on #783
Hey @roelvanhintum Do you happen to have some `@imports` above this map?

[2016-08-08 07:56] roelvanhintum commented on #783
No, there is just some variables and there was a function definition. The function turned out to be the problem. I moved the function to a separate file, which solved it.

[code]

[2016-08-08 08:52] DanPurdy commented on #783
Thanks I'll check it out, found a problem with certain at-rules and maps so I'll check this too.

[2016-08-08 23:04] DanPurdy commented on #782
@nicolas-goudry thanks for this, I've finally found some time to look into it and I've found the problem. It'll be fixed in the next version we release.

[2016-08-09 07:32] nicolas-goudry commented on #782
Cool to hear that, we will be able to use it next time you release :smile: ! Thanks a lot !

[2016-08-10 15:08] pixelass opened #819 "Interpolation broken (again?)"
String interpolations cause sass-lint to fail. Due to this issue I have to disable sass-lint entirely.

* "sass-lint": "1.8.2"

* default config as in example

[code]

* The selector should be resolved

* Instead I get an error

[code]

I used CLI

[2016-08-10 15:10] bgriffith commented on #819
Hey @pixelass - thanks for the report! We've already noted this and I've posted a PR (https://github.com/tonyganch/gonzales-pe/pull/208) so hopefully this will be fixed in the next few days.

[2016-08-10 15:32] #779 closed

[2016-08-10 15:32] #783 closed

[2016-08-11 11:46] ngnijland opened #820 "Error when using an empty ruleset"
**What version of Sass Lint are you using?**
1.8.2

**What did you do?**
I have the following code:

[code]

- .class2 has no properties.
- In the sass-lint config file, `no-empty-rulesets` is set to `1`.

**What did you expect to happen?**
I expected sass-lint to pass and give me a warning on the `no-empty-rulesets` rule.

**What actually happened?**
Sass-lint threw a fatal error:
`387:1  error

[2016-08-12 10:46] Arial7 commented on #819
This got Fixed in Gonzales-Pe 3.4.4.

[2016-08-12 10:47] DanPurdy commented on #819
@Arial7 We've already pushed gonzales-pe 3.4.4 into our develop branch with #821 It will be available with our next release.

[2016-08-12 10:54] Arial7 commented on #819
Yes, I know, I just wanted you to close the Issue 😉

[2016-08-12 10:55] DanPurdy commented on #819
ah, 😄

[2016-08-12 10:55] #819 closed

[2016-08-12 12:59] pixelass commented on #819
Sorry, my bad.. should have tagged it as duplicate..

Thx.

[2016-08-15 10:11] #789 closed

[2016-08-15 15:07] alxndr commented on #9
I'm attempting to [create an engine](https://github.com/alxndr/codeclimate-sasslint), but I'm having issues identifying how to use `sasslint` in JS (e.g. not via the CLI). I'm taking cues from [the `lintFileText` test](https://github.com/sasstools/sass-lint/blob/66ab2d5a/tests/main.js#L215) but can't seem to get it to respect the `include` section of a config file. Any tips or docs would be greatl

[2016-08-15 16:15] colin-marshall commented on #644
@bgriffith any update on the status of this? Thanks!!!

[2016-08-15 16:19] bgriffith commented on #644
@colin-marshall So I think it's all fixed 🌟! I've run the latest build of Sasslint (develop branch) and linted the `foundation-sites` scss folder with no parse issues. Just looking to merge a few more PR's before we release a new version.

I also plan on checking and closing all the related issues here and on the gonzales repo just to make doubly sure I've not missed anything :+1:

[2016-08-15 16:20] bgriffith commented on #644
@colin-marshall So in short - stay tuned haha

[2016-08-15 16:28] #782 closed

[2016-08-15 17:00] #753 closed

[2016-08-15 20:30] revoltpuppy opened #824 "Font-smoothing is non-standard"
**What version of Sass Lint are you using?**
grunt-sass-lint: ^0.2.0

**Please include any relevant parts of your configuration**

<pre><code>no-vendor-prefixes:
    - 2
    -
      additional-identifiers:
        - khtml
        - o
      ignore-non-standard: true</code></pre>

**What did you expect to happen?**
Expected the linter to ignore `-webkit-font-smoothing` and `-moz-osx-font-smoothing`.

[2016-08-15 21:01] chris-dura commented on #738
I understand why folks don't want to be "forced" to write `$black: #000;` or `$white: #fff;`...
but my initial response would be that you should actually be thinking about trying to use more "semantic" variable names just like you would for other theme colors.

For example, I think most folks would agree that writing `$purple: #af38ca;` isn't really adding any semantic value or clarity to the code

[2016-08-16 09:09] thasmo opened #826 "no-mergeable-selectors can't handle media-queries with functions"
When using a media-query with a function, like `@media(min-width: break('large'))` the `no-mergeable-selectors` rule has a false positive, because it's evaluating the rule to `@media(min-width: null)` for all `break` function calls and thus throws a warning for media-queries using different values in the `break` function.

This seems to be related to #703 which probably included a fix for variable

[2016-08-16 09:19] thasmo opened #827 "More options for force-element-nesting"
In my case I want to have elements nested **except** for two cases:

**pseuso classes**
[code]

**chained classes**
[code]

I'd love to see options for `force-element-nesting` to have it configured for these cases.

[2016-08-16 09:22] thasmo opened #828 "Fatal error on validating block"
I get `35:1  error  Please check validity of the block starting from line #35  Fatal` on this styles:
[code]
Line `35` is `&--#{$name}-#{$column} {`.

[2016-08-18 09:34] DanPurdy commented on #792
This code is now parsed correctly in sass-lint 1.9.0

[2016-08-18 09:34] #792 closed

[2016-08-18 09:35] DanPurdy commented on #820
this is a duplicate of #456

[2016-08-18 09:35] #820 closed

[2016-08-18 09:36] DanPurdy commented on #828
This no longer fails to parse in sass-lint 1.9.0

[2016-08-18 09:36] #828 closed

[2016-08-18 09:38] DanPurdy commented on #781
This is fixed in sass-lint 1.9.0

[2016-08-18 09:38] #781 closed

[2016-08-18 09:47] DanPurdy commented on #644
So all of the examples in this issue are now parsing correctly in sass-lint 1.9.0 except for the issue highlighted by @nmcclay

[2016-08-18 09:49] DanPurdy commented on #770
@alansouzati this parses without error in sass-lint 1.9.0

[2016-08-18 09:49] #770 closed

[2016-08-18 09:50] DanPurdy commented on #760
This is fixed and parses correctly in sass-lint 1.9.0

[2016-08-18 09:50] #760 closed

[2016-08-18 09:52] DanPurdy commented on #636
Fixed in sass-lint 1.9.0

[2016-08-18 09:52] #636 closed

[2016-08-18 09:55] DanPurdy commented on #826
Thanks for the issue @thasmo I'll look into it soon

[2016-08-18 09:57] DanPurdy commented on #824
@revoltpuppy thanks for this. Will look to get it fixed soon

[2016-08-18 10:28] DanPurdy commented on #793
@mikeerickson would you be able to post a sample of the code you had to recreate this please?

[2016-08-18 18:40] hbaughman opened #832 "Add vim plugin to the list of IDE integrations"
I am using the [vim-sass-lint](https://github.com/gcorne/vim-sass-lint) plugin and can confirm it is working great.

I thought it ought be added to the list of IDEs supported.

[2016-08-18 18:41] bgriffith commented on #832
Sure why not :+1:

[2016-08-18 18:42] #832 closed

[2016-08-18 18:56] glen-84 opened #833 "Rule suggestion: max-line-length"
TSLint has this rule: http://palantir.github.io/tslint/rules/max-line-length/

[2016-08-18 20:40] adrifmonte opened #834 "no-mergeable-selectors not working properly with nth-child(even) nth-child(odd)"
#### What version of Sass Lint are you using?
Older (working) version:
[code]

Newer (buggy) version:
[code]

#### Please include any relevant parts of your configuration
[code]

#### What did you do? Please include the actual source code causing the issue.
[code]

#### What did you expect to happen?

I expected no issues, since those two rules aren't mergeable!

#### What actually happened? Pleas

[2016-08-18 21:55] DanPurdy commented on #833
Definitely a rule we need to support

[2016-08-20 22:22] suitupalex commented on #140
:+1: for adding an `extends` config option like ESLint.

Any progress on this? I'd be interested in helping out.

[2016-08-22 14:06] Nickman87 commented on #834
We also have this issue in 1.9.0 with the nth-child selectors, but it doesn't end there.
The following selector is also failing
[code]
I don't see a specific test case being added for the not selector in the related pull request, will this also be fixed by your changes @DanPurdy ?

[2016-08-22 17:21] colin-marshall commented on #644
Thanks guys! I'll test it out this week.

[2016-08-23 11:41] claudiamatosa opened #837 "Spread operator causing `check validity of block` error"
Hey guys,

I ran into an error when trying to lint a mixin that uses the spread operator for a parameter. I've tried enforcing the `scss` syntax when running sass-lint, but to no avail. Is there anything that I can do to avoid it?

Cheers!
### Error

[code]

This is thrown on the line where the spread operator is.
### Code

[code]
### Stacktrace

[code]
### What version of Sass Lint are you using?

[2016-08-23 11:58] DanPurdy commented on #837
Hey @claudiamatosa This is an issue with gonzales-pe the AST that we use to parse Sass/scss. Please could you repost this error there? Thanks.

https://github.com/tonyganch/gonzales-pe/issues

[2016-08-23 12:00] DanPurdy commented on #834
@Nickman87 I'll check, it should be as it was just a case of missing a node type check.

[2016-08-23 12:10] DanPurdy commented on #140
Hey @suitupalex I was looking to get json files / .sasslintrc config files working first in #755 there was also some initial work that i need to go through from #561 but we're very keen to get this moving.

[2016-08-23 12:23] DanPurdy commented on #834
@Nickman87 I added your tests to the PR i can confirm the fix did fix this too and you should see it arrive in the next release which will hopefully be a patch release very soon

[2016-08-23 13:23] claudiamatosa commented on #837
Thanks, @DanPurdy, will do. Just fyi, while trying to recreate the error using only `gonzales-pe`, I pinned the issue to something more specific: it only occurs if the previous arguments have default values. This means the the following will not throw an error:

[code]

[2016-08-23 13:36] DanPurdy commented on #837
Great, that's really helpful for us when we go to look at this. Thanks!

[2016-08-23 13:48] bgriffith commented on #837
Thanks @claudiamatosa! Trust you to find a bug haha! 😁

[2016-08-23 17:03] alansouzati commented on #770
thanks for the heads up @DanPurdy 👍

[2016-08-23 19:17] Nickman87 commented on #834
awesome! thanks

[2016-08-23 20:18] alfaproject opened #838 "Add support for indentation continuation options"
I was wondering if there are plans to support more indentation options, specially multiline definitions like the example bellow. Having everything in one line is not exactly readable, and creating inline exceptions (in the future) will look spammy.

What version of Sass Lint are you using?

[code]

Please include any relevant parts of your configuration

[code]

What did you do? Please include the

[2016-08-23 22:09] DanPurdy commented on #838
Short answer yes it is planned, I've even looked into getting it sorted when i re did the indentation rule for 1.6 but ran out of time.

There's an issue already open for it in #591 hopefully get a chance to add it soon.

[2016-08-24 23:41] heatwaveo8 opened #839 "Two issues with @font-face src property."
SASS Lint v 1.9.0
Using grunt-sass-lint plugin

I am getting an error in my GruntJS build in two scenarios with font-face, with all tests set to 0:
1. The format() function is called in a src declaration.
2. There are multiple url() calls together being separated by a comma.

The Error:
`6:1  error  Please check validity of the block starting from line #6  Fatal`

The Code:

[code]

I am using a m

[2016-08-25 00:12] DanPurdy commented on #839
HI @heatwaveo8 thanks for the report. The issue here lies in `gonzales-pe` which is the AST we use to parse your scss/Sass. Whenever you see a block validity error it's due to the AST not being able to parse your code.

The specific issue you're having looks to be related to https://github.com/tonyganch/gonzales-pe/issues/210 and also https://github.com/tonyganch/gonzales-pe/issues/85 which looks

[2016-08-25 01:50] DanPurdy opened #841 "Rule suggestion: Max file line count"
Following on from #833 it would be good to port over TSLint's max-file-line-count rule too for those who wish to enforce a limit on the size/length of their files.

[2016-08-25 03:01] heatwaveo8 commented on #839
Thanks for the update. Looks like #210 is the one I'm referring to. I've added a comment there and will wait for a fix, so I can start to include this package in build tests.

[2016-08-25 08:53] PinPinIre opened #843 "ignore-non-standard does not ignore -webkit-tap-highlight-color"
What version of Sass Lint are you using?
1.9.0

Please include any relevant parts of your configuration

[code]

[code]

What did you do? Please include the actual source code causing the issue.
I ran the no-vendor-prefixes rule on the example for `ignore-non-standard` which then caused an error. If the `ignore-non-standard` config is set to false, 5 errors are thrown which is expected.

What did

[2016-08-25 16:49] #826 closed

[2016-08-25 16:49] #834 closed

[2016-08-25 17:02] #772 closed

[2016-08-25 19:09] chrismbarr commented on #575
Same here.  I'm needing to define CSS animations from Angular

[code]

Right now the only solution seems to be to do this...

[code]

Now, it's not the worst... but the 1st version just seems easier to understand.  I hate having to re-write perfectly good code just to satisfy a rule.

[2016-08-25 20:30] jgerigmeyer opened #847 "`shorthand-values` ignores result of function calls"
What version of Sass Lint are you using?

Please include any relevant parts of your configuration

What did you do? Please include the actual source code causing the issue.

What did you expect to happen?

What actually happened? Please include any error messages given to you by Sass Lint.

If you're using a IDE plugin have you tried the CLI too?

This seems related to https://github.com/sasstools

[2016-08-26 12:34] #813 closed

[2016-08-27 18:31] frantic1048 opened #851 "Request: transfer fly-sass-lint to sasstools"
Recently I builded [sass-lint plugin][fly-sass-lint] for [fly][].

I'd like to transfer it into `sasstools`, to make folks easier to find out this integration option.

Of course, I'm willing to maintain it in the future (っ´ω`c)

[fly-sass-lint]: https://github.com/frantic1048/fly-sass-lint
[fly]: https://github.com/flyjs/fly

[2016-08-29 08:41] OBellon commented on #839
Hi all,

I have the same problem and I was able to solve it by setting the format in front of url and with different src properties. In your case:

[code]

Should fix it.

Try it, and let me know whatever happens.
Regards.

[2016-08-29 15:21] JordanDDisch opened #852 "Lint double semi colons"
Currently with trailing-semicolon on, double semi colons are not being linted.

e.g.
`.test {
  background: red;;
}`

As mentioned here in scss-lint as possible fix:
https://github.com/brigade/scss-lint/commit/0fc7ba821caf968505d3d130f60a94e832295803

Using gulp sass lint: "gulp-sass-lint": "^1.1.1"

[2016-08-29 17:55] chrismbarr opened #853 "Reporting color functions as invalid uses of color literals"
Using `gulp-sass-lint` **v1.2.0**

---

I have this code

[code]

Which produces these errors, which seems incorrect since the color names above are [the built-in SCSS functions](http://sass-lang.com/documentation/Sass/Script/Functions.html#red-instance_method), **not** color literals.

[code]

---

When re-written as a single line like this

[code]

I only get this one error instead

[code]

---

[2016-08-29 20:07] sathomas opened #854 "Problem parsing SASS if function"
What version of Sass Lint are you using?

What did you do? Please include the actual source code causing the issue.

[code]

What did you expect to happen?

What actually happened? Please include any error messages given to you by Sass Lint.

Potential use case: http://stackoverflow.com/questions/39167183/scss-if-function-without-false-else-clause/

[2016-08-30 13:33] DanPurdy commented on #854
Hi @sathomas This is an issue with Gonzales-pe the AST we use to parse your code. Would you mind reporting this there please?
https://github.com/tonyganch/gonzales-pe/issues

Thanks!

[2016-08-30 13:34] DanPurdy commented on #851
ping @Snugug

[2016-08-30 13:35] DanPurdy commented on #852
Thanks @JordanDDisch we'll look into it

[2016-08-30 13:36] DanPurdy commented on #853
Hmm that is odd, I specifically remember testing for this occurrence, I'll have a look into it.

Thanks for the report.

[2016-08-31 09:01] OBellon opened #855 "Problem with trailing semicolon rule"
Hi all,

I'm using the grunt-sass-lint plugin and I'm having problems with the trailing semicolon rule, because it is just linting ok when it is the last line of a block. For example:

[code]
 Would break, and that is ok.

But:

[code]

Would not, and it would have to.

Do you have any fixes on this?

Thanks in advance.

[2016-08-31 16:50] nottrobin opened #856 "Make "max-warnings" a proper option"
The command-line tool provides the `--max-warnings` option. This is very useful for preventing a codebase from deteriorating and generating ever more warnings.

However, we can't use this feature for [vanilla-framework](https://github.com/ubuntudesign/vanilla-framework/) as we run sass-lint through [gulp-sass-lint](https://github.com/sasstools/gulp-sass-lint) in our `gulpfile.js` instead of using

[2016-08-31 16:56] nottrobin commented on #856
I'll have a little crack at writing this myself. Although if I can't get the bulk of the way there tonight I'll probably abandon it. :stuck_out_tongue_closed_eyes:

[2016-08-31 17:02] DanPurdy commented on #856
Hi @nottrobin,
The difference here is that the CLI just throws an exit code of 1 if it goes over a certain number of warnings, this wouldn't be the case with gulp as you need to still report on every warning/file and then hand it off downstream. Would you expect it to throw an extra error message if it went over the number of warnings you specify?
I'm not too clear on the use case here and what th

[2016-08-31 18:52] nottrobin commented on #856
Thanks for the quick response @DanPurdy.

So currently, if I were to set `indentation: 2` in my `.sass-lint.yml` file and run `sass-lint`, I see an exception with an error message, and, as you say, an exit code of `1`:

[code]

Similarly, if I have a `gulpfile.js` which includes the following:

[code]

And I run this target with gulp, I see an error, with an exit code of `1`.

[code]

We use `gulp

[2016-09-01 07:34] nottrobin commented on #856
I have just discovered that this won't solve my problem with gulp-sass-lint, as instead of using sass-lint's `failOnError` method, it [reimplements its own version of that function](https://github.com/sasstools/gulp-sass-lint/blob/master/index.js#L81).

Once this is merged, I'd be happy to submit a follow-up PR to gulp-sass-lint to make use of the native `failOnError` method and so properly suppor

[2016-09-01 15:59] chrismbarr opened #858 "The no-mergeable-selectors rule makes a bad suggestion"
I am using the current version of `gulp-sass-lint`

I have this code
[code]

Which produces this error
[code]

I don't understand why or how those rules could be merged, and it's apparently not even parsing these rules correctly due to the `null` being in there.  My guess it that it parses each of these rules as `:not(null)` which makes it appear they are the same selector and could be merged.

[2016-09-01 16:01] DanPurdy commented on #858
Yeah, it's a bug. I'll look into it, it's not reading the content inside the parenthesis correctly. I thought i'd caught all cases of this but obviously not. Sorry!

[2016-09-01 19:46] chrismbarr commented on #858
In the meantime I was able to add this to my configuration to ignore this false positive

[code]

[2016-09-01 22:11] DanPurdy commented on #858
Hi @chrismbarr can you just check which version of sass-lint you're using?

This seems to be working correctly in 1.9.1

See below screenshots
![screen shot 2016-09-01 at 23 10 06](https://cloud.githubusercontent.com/assets/1386054/18186184/512e5eee-7099-11e6-8774-5a8c92e2ed1e.png)
Your example passing

![screen shot 2016-09-01 at 23 10 18](https://cloud.githubusercontent.com/assets/1386054/181861

[2016-09-01 22:14] #858 closed

[2016-09-01 22:30] DanPurdy commented on #855
@bgriffith

[code]

Gonzales is detecting background as an ident within the display properties value block here. I guess there's nothing we can do as some properties will genuinely have multiple idents? It's late so I can't think of the exact cases but should we be checking for delims between the value idents and assume it's a new property without a semicolon if one doesn't exist?

As I say off th

[2016-09-01 22:39] DanPurdy commented on #853
Ok I may have spoken too soon, In all honesty I'm not to sure about whether the rule should be flagging this up or not. Let me have a think about it.

Also notice that you could just do `rgba($input-border-focus, 0.6)` here as rgba can take just a colour rather than its separate elements.

http://sass-lang.com/documentation/Sass/Script/Functions.html#rgba-instance_method

[2016-09-02 10:49] #856 closed

[2016-09-02 15:12] chrismbarr commented on #853
lol, yeah I think you're right, I've got no idea why I wrote the code that way, I just saw this false positive.

I do think it's still wrong to report this as a failure though.  using the color `red` is not the same as pulling the red value of of an existing color with the function `red(#CCC)`

[2016-09-02 15:21] chrismbarr commented on #858
Ah, you're right.  sorry, my fault.  It looks like `gulp-sass-lint` only pulled down `sass-lint` version `1.9.0` initially.  I've fix this to pull down `1.9.1` now and it does work correctly.

[2016-09-02 15:27] DanPurdy commented on #853
Yeah i agree, I'll look into getting it fixed.

Thanks

[2016-09-04 07:00] rernens opened #859 "version 1.9.1 fails to lint Bootstrap 3.3.6 _forms.scss mixins"
What version of Sass Lint are you using?

`1.9.1`

Please include any relevant parts of your configuration

`default configuration`

What did you do? Please include the actual source code causing the issue.

sass-lint Bootstrap version 3.3.6 of

[code]

fails on last block in file

[code]

What did you expect to happen?

to parse properly, this is valid

What actually happened? Please include any

[2016-09-05 06:48] keeganstreet opened #860 "Feature request: disable reporting on all warnings"
Hi,

I think it would be useful for the Sass-Lint CLI to have an option to disable reporting on warnings.

This would be similar to the "quiet" option of ESLint:

http://eslint.org/docs/user-guide/command-line-interface

This would be useful when we use the JUnit formatter to pass output from Sass-Lint into a CI tool. [JUnit does not have a concept of warnings](http://stackoverflow.com/questions/1

[2016-09-05 07:15] richarddewit opened #861 "border-zero: A value of `0` is not allowed. `0` must be used."
**What version of Sass Lint are you using?**
1.9.1

**Please include any relevant parts of your configuration**
[code]

What did you do? Please include the actual source code causing the issue.
[code]

**What did you expect to happen?**
Not raising a warning, since the actual value is the same as the expected value.

**What actually happened? Please include any error messages given to you by Sass

[2016-09-05 22:34] mirisuzanne opened #862 "Empty-args error triggered by functions"
I'm getting this error:

[code]

when I call the `susy-gutter()` function without arguments, using sass-lint `1.9.1`. I would expect this to only error on mixins, since the empty parenthesis are required for a function call.

Here's the full surrounding code block (using Susy and True):

[code]

[2016-09-05 23:13] DanPurdy commented on #862
That's odd, it looks like it's because it's wrapped within an include itself as the rule is looking for argument nodes within include or mixin nodes. I'll look into it. Thanks for the report. 👍

[2016-09-05 23:19] JordanDDisch commented on #852
I have a PR ready for this issue here #863

[2016-09-06 02:00] keeganstreet commented on #860
Sorry, I didn't notice this part of the readme:

I just need to remove the verbose flag to get the output I want.

[2016-09-06 02:00] #860 closed

[2016-09-06 03:50] keeganstreet opened #864 "No output unless verbose flag is enabled"
No output is generated unless I use the verbose flag.

Version: 1.9.1

**Results with verbose flag (note one error and one warning)**

[code]

**Results without verbose flag**

[code]

**Results without verbose flag, with no-exit flag**

[code]

The readme states that:

As you can see in result 1, there is an error and a warning in the processed CSS. I would expect that the warning is suppressed w

[2016-09-06 08:44] Donaldini commented on #855
I too have noticed this problem today:

[code]

The _@include icon-baseline_ has no semicolon and the linter doesn't see this.

[2016-09-06 08:47] DanPurdy commented on #855
Will look into this soon, I can see why it's failing.

[2016-09-06 09:00] Donaldini commented on #855
Thanks DanPurdy!

[2016-09-06 13:19] onishiweb opened #865 "Add rule: declarations-before-nesting"
This rule should enforce that all declarations in a block should come before nesting

This:
[code]

Not:
[code]

Discussed in: https://github.com/Financial-Times/origami-build-tools/issues/268

[2016-09-07 13:21] danielfilho commented on #793
I was having the same problem with some legacy code. follows my case:

[code]

I fixed this adding an empty line before `ul`, like so:

[code]

I hope this can help.

[2016-09-09 01:01] pmccloghrylaing commented on #591
There's a few different ways people may want multiline indentation enforced.
[code]
I've got a fork that enforces indenting one level: https://github.com/pmccloghrylaing/sass-lint/tree/indent-multiline-declaration, but it seems like there'll need to be an option for how multiline properties should be indented.

[2016-09-09 09:26] bijoyanupam opened #867 "Document is confusing"
Please check the document: https://github.com/sasstools/sass-lint/blob/master/docs/rules/brace-style.md#differences-between-1tbs-and-stroustrup

Looks like a small mistake. Please check the string:

[2016-09-09 14:15] chrismbarr commented on #843
I've noticed the same thing on `1.9.1` as well.  It's actually more than just this one property.  I get lint warnings for all of these as well:

[code]

[2016-09-09 14:28] DanPurdy commented on #843
I think this is to do with what's happened to our property list. It's been used in the correct property spelling rule which means every property has been dumped in it including experimental ones. What I think is gonna have to happen is to split it into two separate lists, one with all known properties added and one with only standardised properties in, only way I can see to rectify this properly.

[2016-09-09 14:29] chrismbarr opened #868 "Idea: add a ignore-properties option to the no-vendor-prefixes rule"
I am using version `1.9.1` and am currently affected by issue #843 regarding the `ignore-non-standard` option not working, but that gave me an idea for a new option/setting to add to the `no-vendor-prefixes` rule.

Right now when`ignore-non-standard` is `true` it just ignores all properties that aren't listed in the [standard properties list](https://github.com/sasstools/sass-lint/blob/master/data

[2016-09-09 14:31] DanPurdy commented on #868
I think the comment I just made in #843 may be a better way to go. Rather than relying on user specification the rule could actually do what it's supposed to be doing. If anyone has time to separate the standard properties into another list that would be ideal.

[2016-09-09 14:37] DanPurdy commented on #867
The first and the second ones seem valid but I'm not sure about the other examples you mention as they all clearly show a difference of style that would raise a warning. Do you mean the use of the word enabled/disabled, as in whether the rule is enabled or disabled?

[2016-09-09 14:39] DanPurdy commented on #865
@onishiweb thanks for this, I'll hopefully find some time this weekend to go over this and hopefully pop it into our next release. Busy times at moment!

[2016-09-09 14:39] chrismbarr commented on #841
The issue you linked to talks about adding a `max-line-length` rule, which woudl limit the number of character on each line of code.  This is different than the `max-file-line-count` rule, which limits how many lines of code can be in each file.  Both would be excellent additions though!

I actually wrote that `max-file-line-count` TSLint rule, so I'm all for it being added here! :smiley_cat:

I'm

[2016-09-09 14:43] DanPurdy commented on #841
HI @chrismbarr awesome! The rule is actually already done in #842 if you'd like to take a look. Off the top of my head I followed the same pattern, just checking the line numbers of a node to check if it exceeded the limit. The reason that they haven't been merged in is I've caught a bug with our AST in the line length rule to do with .sass format with CRLF which has to be investigated.

[2016-09-13 07:05] seeliang opened #870 "A value of `0` is not allowed. `0` must be used border-zero"
What version of Sass Lint are you using?
Not using

Please include any relevant parts of your configuration
  border-zero:
    - 1
    - convention: 0

What did you do? Please include the actual source code causing the issue.
  @include screen(sm-phone) {
    border: 0;
    padding: 0;
  }

What did you expect to happen?
no error

What actually happened? Please include any error messages given to

[2016-09-13 09:39] DanPurdy commented on #870
Hi there this is a duplicate of #861

[2016-09-13 09:39] #870 closed

[2016-09-14 04:23] StrangePurple commented on #738
@chris-dura Your example of `$purple` is missing the point. This isn't a question of "semantic" variable names. I agree with you that `$black`, `$white`, and `$purple` are poor variable names, I don't think many would disagree with that in 2016. I don't see an issue with having this as an option? If you don't like/want to use it, that's cool, but we should be open to more than one way of thinking/

[2016-09-14 04:23] linmic commented on #868
@DanPurdy Speaking of, how do we define standard properties here? Should properties defined in CSS Color Module Level 4 regarded or draft as standard? e.g. [postcss/autoprefixer](https://github.com/postcss/autoprefixer) prefix properties according to [caniuse-db](https://github.com/Fyrd/caniuse). Should we do the same?

[2016-09-14 13:39] DanPurdy commented on #868
@linmic Ideally yes, it would be best to align it with caniuse and the postcss autoprefixer. I think for me personally anything that is supported by the big 4 browsers prefix-less should be considered standard. Using autoprefixr is a much better solution that writing the prefixes yourself so we should encourage people to do it.

[2016-09-15 15:37] dogmatic69 opened #871 "@import throws fatal error"
sample code

    @import "bootstrap/mixins";

Output

    $ sass-lint --verbose
    Output successfully written to ./linters/sass-lint.html
    /usr/local/lib/node_modules/sass-lint/index.js:294
        throw new Error(errorCount.count + ' errors were detected in \n- ' + errorCount.files.join('\n- '));
        ^

    Error: 1 errors were detected in
    - contents/assets/css/_bootstrap.sass

[2016-09-16 09:57] klickreflex opened #872 "Convention strictbem produces unexpected linter warning"
**What version of Sass Lint are you using?**
1.9.1

**Please include any relevant parts of your configuration**
OS X 10.11.6; Node v5.11.1; Sublime Text 3 Build 3114

**What did you do? Please include the actual source code causing the issue.**
Configured class-name-format to strictbem convention

    class-name-format:
     - 1
     -
       convention: strictbem

**What did you expect to happen?

[2016-09-16 13:35] linmic commented on #868
@DanPurdy That case we might need to delete some non-standard properties out of `properties.yml` before we do it with caniuse, e.g. `print-color-adjust`. Because stuff like `no-vendor-prefixes` option with `ignore-non-standard` depends on the list as standard properties whitelist so it doesn't work as expected.

[2016-09-16 18:12] johanneskrtek opened #873 "Indentation"
There are several ways to write `@import` rules, according to this style guide http://sass-guidelin.es/#main-file this is considered to be valid:

[code]

The `indentation` rule throws an error though. Same is true for the following example:

[code]

How should this be written in a valid way without exceeding a 80 characters limit?

I would highly appreciate your explanation, respectively a config

[2016-09-16 18:21] johanneskrtek commented on #873
Possibly a duplicate of #591 and #464.

[2016-09-17 10:46] ajsb85 opened #874 "Using the CLI - `previous.is` is not a function"
sass-lint: **v1.9.1**
node: **v6.2.2**

[code]

[2016-09-17 10:50] ajsb85 commented on #874
Duplicate: https://github.com/sasstools/sass-lint/issues/793

[2016-09-17 10:50] #874 closed

[2016-09-19 02:21] sminnee opened #875 "Support for eslint3"
The latest release of sass-lint require `eslint ^2`. If you include eslint 3 in your project, it throws a warning that it's going to run on eslint 2, but it appears to function similarly when it uses eslint 3.

It would be good if there was an eslint 3 compatible version of sass-lint.

Looking at the code it seems as though only the formatters are used in this package. Could we simply mark the pac

[2016-09-19 05:19] alfaproject commented on #875
The reason it's using eslint 2 is because eslint 3 stopped supporting some versions of node that this project supports. I think the plan is to move to eslint 3 when those versions of node are no longer maintained, which will probably be soon anyway.

[2016-09-20 02:27] DanPurdy commented on #875
There's no reason for us to move to eslint 3 at present and as @alfaproject rightly says it adds an overhead to our testing that we're not keen on right now. Once older node versions are out of LTS we'll start to adopt it I'm sure.

[2016-09-20 02:27] #875 closed

[2016-09-20 02:32] DanPurdy commented on #871
You need to re read the CLI documentation and the Readme. You've probably got a rule set to severity `2` but haven't passed the `-q` or the `--no-exit` flag when you've run it from the command line. Please see [here](https://github.com/sasstools/sass-lint#cli).

If there's something else that's not working please let us know.

[2016-09-20 02:32] #871 closed

[2016-09-21 02:34] laurakat opened #876 "Exclude rules for specific lines/sections of scss code"
Feature request: exclude rules for specific lines of code.

Currently it seems like entire files can be ignored, but you can't ignore only specific rules per file, or only for a small section of the code.

scss-lint handles this but it doesn't seem to be available in sass-lint (https://github.com/brigade/scss-lint/#disabling-linters-via-source)

[2016-09-21 02:56] DanPurdy commented on #876
Please see #70 and #677 for details.

[2016-09-21 02:56] #876 closed

[2016-09-22 14:13] tamascsaba opened #877 "support css variables to propertie"
If I use css variables:
[code]

sass-lint throw: no-misspelled-properties

[2016-09-23 00:26] Glutnix opened #878 "Error with rules/space-before-colon:17 previous.is('space') cannot read property 'is'"
What version of Sass Lint are you using?
sass-lint 1.9.1
node 6.6

Please include any relevant parts of your configuration

This was converted from a scss-lint.yml file using the converter.
[code]
What did you do? Please include the actual source code causing the issue.
ran `sass-lint` from the command line

What did you expect to happen?
To run without node error

What actually happened? Please i

[2016-09-26 21:42] mattdistefano opened #880 "UTF-8 w/ BOM + @mixin causes fatal parsing error"
Demo repo [here](https://github.com/mattdistefano/sass-lint-bom-issue-demo)

Short version is that when you have a file encoded as UTF-8 w/ BOM that starts with `@mixin`, the CLI linter fails with a `1:1  error  Please check validity of the block starting from line #1  Fatal`.

UTF-8 w/out BOM works fine, as does UTF-8 w/ BOM without `@mixin` at the start.

Happens on OS X w/ node 6.2.0 and Window

[2016-09-26 21:51] mattdistefano commented on #880
Actually, I'm noticing that UTF-8 w/ BOM also produces an incorrect "Property appears to be spelled incorrectly" error when there's a variable on the first line too. I added an example to the repo. Can open a separate issue for that if you want, though I assume the root cause is the same.

[2016-09-28 14:33] Nazin commented on #824
Any update on this issue?

[2016-09-29 03:22] shnhrrsn opened #882 "Rule `leading-zero` misfiring"
**What version of Sass Lint are you using?**
1.9.1

**Please include any relevant parts of your configuration**
[code]

**What did you do? Please include the actual source code causing the issue.**

Run the following file `test.scss` via `sass-lint test.scss --verbose`:

[code]

**What did you expect to happen?**

An issue reported for `hex-notation` and nothing more.

**What actually happened? Pl

[2016-09-29 05:19] #882 closed

[2016-09-29 05:19] shnhrrsn commented on #882
Misunderstood how the rule worked, apologies!

When configured as:

[code]

All is well.

[2016-09-29 22:30] theskillwithin commented on #592
@DanPurdy

Any sign of this going into sass syntax?

[2016-10-02 00:20] theskillwithin opened #884 "sass lint not working with sass tab syntax"
[code]

What version of Sass Lint are you using?
1.9.1

Please include any relevant parts of your configuration
sublime text, sublime-linter

[code]

What did you do? Please include the actual source code causing the issue.

I have it on save run sass-lint on my .sass files

What did you expect to happen?

I expected it to allow tab's.

What actually happened? Please include any error messages giv

[2016-10-03 09:51] DanPurdy commented on #884
Hi can you upload the file `/var/folders/q8/4rj_3ly11hqd4fx7tw6tfssc0000gn/T/SublimeLinter3-Austin/_grid.sass` somewhere so we can take a look. Copying and pasting it into Github would lose the formatting which seems to be the issue here. Thanks!

[2016-10-04 11:58] Nazin opened #886 "no-vendor-prefixes -ms-clear problem"
**What version of Sass Lint are you using?**
1.9.1

**Please include any relevant parts of your configuration**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No errors

**What actually happened? Please include any error messages given to you by Sass Lint.**
error  Vendor prefixes should not be used

[2016-10-04 15:05] ajsb85 opened #887 "Warning: previous.is is not a function"
[code]

[2016-10-04 22:58] DanPurdy commented on #884
Also it looks like you've not setup your sasslint config file correctly. The sublime linter config has nothing to do with sass-lint. If you've not set your size property of the indentation rule to 'tab' it will fail and warn if you've used tabs. see https://github.com/sasstools/sass-lint/blob/develop/docs/rules/indentation.md#options and check that you have it setup correctly.

[2016-10-05 21:50] Glutnix commented on #878
Nothing? I reported this two weeks ago, no replies?

[2016-10-05 22:00] DanPurdy commented on #878
@Glutnix I've been on holiday for the last 2 and a bit weeks and I've not had the time to jump on any of this since then, unfortunately life has to come first! It is an open source project after all..

Anyone is welcome to contribute to this and submit a PR to fix the issue... Also including the Sass/scss to recreate this issue would probably help someone recreate it, we don't have unlimited time

[2016-10-06 04:43] Glutnix commented on #878
Sorry, should have thought about that :(

I'm not able to submit a PR on this as my Node-fu is weak.

[2016-10-06 09:14] DanPurdy commented on #878
No problem,

Can you include the Sass or scss that this fails on too so we can look into it. Thanks

[2016-10-09 22:05] theskillwithin commented on #884
https://github.com/theskillwithin/hrtcup

[2016-10-10 01:05] theskillwithin commented on #884
@DanPurdy is there a global sasslint config file?

[2016-10-11 13:08] frassinier commented on #592
@DanPurdy Same issue with 1.9.1 :(

[2016-10-11 13:39] DanPurdy commented on #592
@theskillwithin it should already be in. That comment wasn't updated once I'd actually worked on the rule. Due to a bug in the AST there are however some caveats which are explained in the original PR and possibly the documentation if I remembered to add it. If you're seeing any problems with Sass syntax could you report it in a new issue, thanks!

[2016-10-11 22:18] tommycoppers commented on #658
I was looking into this as well.  I was going to submit a PR  that would remove the `if` block in the `outputResults()` method (https://github.com/sasstools/sass-lint/blob/fbaf73825dfe57bc6827d1d4bd79bba513fd5934/index.js#L264).  Then I came across issue https://github.com/sasstools/sass-lint/issues/141 .  It wouldn't quite reverse that PR completely, but it would be slightly contradictory.

I jus

[2016-10-12 01:14] theskillwithin commented on #884
@DanPurdy  ok this will be much easier to diagnose with using just the sass-lint command.

see here I am pointing to my sass-lint.yml  and pasted that below and in my sass-lint.yml I have indentation size: tabs

[code]

sass-lint.yml
[code]

[2016-10-12 09:32] DanPurdy commented on #884
@theskillwithin There is a global config file yes, If you dont disable the merge-default-rules options then it will merge your config file with the config file found here https://github.com/sasstools/sass-lint/blob/develop/lib/config/sass-lint.yml.

You're specifying `tabs` but it should be `tab`, might not make a difference but will check. You may want to ignore your node modules folder as the er

[2016-10-12 09:37] DanPurdy commented on #658
@tommycoppers that's an interesting occurrence, I can see both sides of the argument. Maybe it's a case that output files should still be written but the console should remain silent on no errors. This wouldn't be hard to implement at all in the area you highlighted, I'd be happy to get PR's for this if you feel it's the way to go or we can discuss a better approach?

Thanks

[2016-10-12 10:24] Arial7 commented on #591
I have exactly the same issue as @DaClan008 describes. This is very annoying....

[2016-10-12 10:55] theskillwithin commented on #884
NICE setting it to tab  and having sublimeLinter ignore node_modules did the trick!

😀

[2016-10-16 15:53] mattbrooks2010 commented on #735
The ESLint team are no longer adding new formatters directly to ESLint Core.

It may therefore be worth making a simple change to [sassLint.format](https://github.com/sasstools/sass-lint/blob/fbaf73825dfe57bc6827d1d4bd79bba513fd5934/index.js#L243) to:

1. Retain support for existing ESLint formatters and existing user configurations, at least in the short term.
2. Allow additional formatters to be

[2016-10-17 13:03] thijskramer commented on #861
I think this problem could be solved by changing this in [border-zero.js](https://github.com/sasstools/sass-lint/blob/develop/lib/rules/border-zero.js#L31):

**From:**
[code]
**To:**
[code]

Configurations with `convention: 0` won't generate false warnings this way.

[2016-10-17 13:46] richarddewit commented on #861
As I can see now, the default is set to the string `'0'`, instead of the int. When using a string, it doesn't produce a warning.

I'll pass in a PR to fix this, so that the int 0 could also be used.

[2016-10-17 19:19] richarddewit commented on #861
Btw, @thijskramer - your solution doesn't fix it, it just skips the validation. `node.content` is the value in `border: 0;` or `border: none;` which is always a string. Therefore it will not pass your if-statement because `node.content` is `'0'` (string), not `0` (int) or `'none'`

[2016-10-17 19:29] thijskramer commented on #861
Allright, well then this issue could be fixed by parsing the yml config file in a different way, because people like me are using a `.sass-lint.yml` file with the following config:
[code]

OR, maybe use just two equal signs to compare (I'm not sure if this would work though):
[code]

Which solution do you prefer?

[2016-10-17 21:21] richarddewit commented on #861
The one I've made the PR with :) (convert convention to string)

[2016-10-17 21:52] DanPurdy commented on #884
@theskillwithin great! I'll close this but make a note to check our code against node-sass to possibly find some issues we weren't testing for ourselves. Thanks!

[2016-10-17 21:52] #884 closed

[2016-10-17 23:25] DanPurdy commented on #872
Hi @klickreflex sorry for the late reply, been a busy summer!

You're right, in strict bem there are two types of modifier, the boolean or the key value pair. Your example is technically a boolean modifier and should be perfectly valid (I use hyphenated bem myself so i had to double check this)

It looks as if just the regex selector is wrong. I'll update it in a PR now with some extra tests.

Tha

[2016-10-17 23:52] DanPurdy commented on #880
Thanks @mattdistefano will look into it.

Just a note that when you see a `please check the validity` message, that that error is actually thrown directly from the AST we use to parse your files [Gonzales-pe](https://github.com/tonyganch/gonzales-pe) Therefore this may not be a quick fix.

I'll look deeper though. 👍

[2016-10-18 00:21] mattdistefano commented on #880
Thanks!

I believe gulp internally strips the BOM, which is probably why the gulp plugin worked where the CLI tool didn't. So a quick fix maybe is to do the same when loading from the filesystem directly.

[2016-10-18 15:25] DanPurdy commented on #880
Yep, thats what I'm thinking too. There's a task around stripping front matter too for liquid/jekyll stylesheets too so i may incorporate it into all that.

I'll keep you updated.

[2016-10-18 16:04] DanPurdy commented on #861
Yeah i think @richarddewit's solution is the way to go, we've added a few comments there so if you'd like to update it then we can merge it in for you. If not we can take it further ourselves and get it sorted, with proper accreditation to your contribution of course! 🎉

[2016-10-19 00:28] DanPurdy commented on #859
Hi @rernens sorry for the late reply, the error you are seeing is thrown by the AST we use [gonzales-pe](https://github.com/tonyganch/gonzales-pe). It's failing to parse that block you mention. It would be worth opening an issue there also with that block specifically.

I can have a look to see why its failing hopefully soon.

[2016-10-19 00:30] DanPurdy commented on #855
note to self, check for extra operators within value nodes.

[2016-10-20 10:15] DanPurdy opened #896 "NodeJs 0.10 & 0.12 LTS support"
Node Js 0.10 is about to drop out of maintenance at the end of October with 0.12 set to follow at the end of December.

https://github.com/nodejs/LTS

My plan has always been to drop 'support' for these legacy versions once they dropped out of maintenance. With the usage stats of 0.12 being so low I think it's not a push to drop support for it when we drop 0.10 at the end of this month.

This does

[2016-10-21 00:59] mmase opened #898 "use of !important in mixin throws fatal error"
[code]

The above throws a fatal error. It's perfectly acceptable sass as of latest standard.

[2016-10-21 01:01] DanPurdy commented on #898
This is a problem with the AST we use [Gonzales-pe](https://github.com/tonyganch/gonzales-pe) would you mind adding this issue there too please?

[2016-10-21 01:02] DanPurdy commented on #898
FWIW -  it's down to the `!important` flag within the brackets

[2016-10-21 01:08] mmase opened #899 "alpha ordering differs that of scss-lint"
We are trying to move over to sass-lint from https://github.com/brigade/scss-lint. The config moved over nicely, except alphabetical means browser specific properties at end of property list instead of inline.

Example:

scss-lint accepts the following as alphabeticalized:

[code]

sass-lint wants:

[code]

Is there a workaround for this without having to modify all the sass?

[2016-10-21 01:10] mmase opened #900 "indentation rules shouldn't apply to fonts"
The following throws warnings on indentation when it likely shouldn't:

[code]

[2016-10-21 01:12] mmase opened #901 "variable name format bug"
The following throws a warning for variable name format, when it shouldn't (likely due to no spaces between variable name and operator):

[code]

[2016-10-21 01:37] mmase commented on #898
@DanPurdy sorry not sure what you mean by that :) can you clarify?

[2016-10-21 07:41] DanPurdy commented on #898
Sorry,  nevermind it was late.

[2016-10-21 09:46] DanPurdy commented on #900
this is a duplicate of #591

[2016-10-21 09:46] #900 closed

[2016-10-21 23:42] nithin123456 commented on #642
is this issue fixed???

    @keyframes #{pulsate}-#{$i} {
      0% {
        -webkit-transform: rotate($i) scale(1);
        -moz-transform: rotate($i) scale(1);
        -ms-transform: rotate($i) scale(1);
        -o-transform: rotate($i) scale(1);
        transform: rotate($i) scale(1);
      }
      50% {
        -webkit-transform: rotate($i) scale(1.5);
        -moz-transform: rotate($i) scale(

[2016-10-21 23:43] nithinankam opened #902 "[sass|scss] Parse error with @Keyframes using capital K"
@keyframes #{pulsate}-#{$i} {
      0% {
        -webkit-transform: rotate($i) scale(1);
        -moz-transform: rotate($i) scale(1);
        -ms-transform: rotate($i) scale(1);
        -o-transform: rotate($i) scale(1);
        transform: rotate($i) scale(1);
      }
      50% {
        -webkit-transform: rotate($i) scale(1.5);
        -moz-transform: rotate($i) scale(1.5);
        -ms-transform:

[2016-10-22 11:21] DanPurdy commented on #902
Hi @nithin123456 This is an error with the AST we use [Gonzales-pe](https://github.com/tonyganch/gonzales-pe) could you please search for or report the issue there.

Thanks

[2016-10-22 11:23] DanPurdy commented on #642
@nithin123456 this is a different issue, the issue you're seeing is due to the interpolation in the keyframes name. If you remove the `-#{$i}` it will parse fine so there's a bug in the AST we use when parsing interpolated keyframe identifiers.

[2016-10-22 12:10] DanPurdy commented on #901
@mmase Thanks for this. Looks like an issue with the AST we use reporting the variable name incorrectly. I've put a PR into sass-lint though which should get around this problem for now. Expect to see it fixed in 1.10

[2016-10-22 12:15] DanPurdy commented on #899
We can make sure vendor prefixes are stripped before they're sorted here. We have a strip prefix method in the helpers file if anyone wants to add to their hacktoberfest score!

[2016-10-22 13:09] mmase commented on #899
`helpers.stripPrefix` affects every property, so `box-shadow` becomes `shadow` and `user-select` becomes `select`. Will try to find a nifty way to make this work.

[2016-10-22 17:36] elodszopos opened #904 "Add --fix option to automatically resolve lint errors/warnings"
Hey folk, not necessarily an issue, more of a feature request / question.

I'm sure you're aware of the [fix feature of eslint](http://eslint.org/docs/user-guide/command-line-interface#fix).

Would this be something that we could expect to see for sass-lint too? It'd be absolutely amazing. Tried looking through issues but haven't found anything similar.

Maybe if there's an already on-going effort

[2016-10-24 04:28] seeliang opened #907 "'Duplicate properties are not allowed within a block' with var error"
What version of Sass Lint are you using?
 1.9.1
Please include any relevant parts of your configuration

    "gulp-sass-lint": "1.2.0"

What did you do? Please include the actual source code causing the issue.
[code]

What did you expect to happen?
no error

What actually happened? Please include any error messages given to you by Sass Lint.
'Duplicate properties are not allowed within a block'

I

[2016-10-24 04:35] seeliang opened #908 "'Mixins should come before declarations' cross 2 levels of import"
What version of Sass Lint are you using?
1.9.1
Please include any relevant parts of your configuration
[code]
What did you do? Please include the actual source code causing the issue.

  @include a{
    height: $height;
  }

What did you expect to happen?
no error

What actually happened? Please include any error messages given to you by Sass Lint.
'Mixins should come before declarations'

If you'

[2016-10-24 06:56] richarddewit commented on #861
Sorry for the late reaction, but I currently can't find time to implement this. If you could pick this up, that would be nice :)

[2016-10-24 07:42] dangreen opened #909 ""Expected indentation" false error"
sass-lint 1.9.1
config:

[code]

styles:

[code]

prints:

[code]

"fixing" error:

[code]

[2016-10-24 08:50] DanPurdy commented on #909
There are a few bugs in The AST we use to do with at-rule embedding in Sass syntax which I'm imagining is at play here https://github.com/tonyganch/gonzales-pe/issues/193

I'll double check though.

[2016-10-24 09:28] DanPurdy commented on #908
Sorry im not quite sure what you're saying here, can you explain it a little more please.

[2016-10-24 09:29] DanPurdy commented on #899
Shouldn't be doing that. Should only be affecting properties with a leading `-`

[2016-10-24 09:31] DanPurdy commented on #899
You can have a look into how the vendor prefixes rule works, that might help you.

https://github.com/sasstools/sass-lint/blob/develop/lib/rules/no-vendor-prefixes.js

[2016-10-24 09:51] DanPurdy commented on #904
HI @elodszopos this was actually being worked on [here](https://github.com/sasstools/sass-lint/pull/778) but unfortunately the author wasn't keen on following our suggestions on how to get this work released / following our contribution guidelines which made it really hard for us to manage or ultimately merge.

We'd obviously be very happy to see this effort come back to life. We'd request that PR

[2016-10-24 09:52] jackblackCH commented on #70
+1 for this feature!

[2016-10-24 09:57] DanPurdy commented on #70
@jackblackCH please see #677 should be available in the next release

@smnbbrv if you want to point your package file at the branch in #677 you can use this functionality right now and we'd appreciate the testing feedback also.

[2016-10-24 12:00] elodszopos commented on #904
I can see that there was a little back-and-forth with this one. Guidelines are important. Everyone's time matters. I'll most definitely take a look.

So, CLI integration in one PR, followed by others that are on a per rule basis with tests? Make sense @DanPurdy ? Thanks for the quick info and the detailed answer, really helpful.

[2016-10-24 23:13] #542 closed

[2016-10-24 23:30] #878 closed

[2016-10-25 01:28] seeliang commented on #908
OK, let me try i again :)

in `main.scss` i @import helpers first, then @import parts.scss. => so `@mixin a` is declared before parts.scss. => the part-a.scss (@import from parts) should be able to use `@include a` with out error

but, in part-a.scss, i have a `@mixin c` using `@include a` , and i got this error.

[2016-10-25 13:59] mmase opened #912 "Any interest in a watch option?"

[2016-10-25 14:06] DanPurdy commented on #912
No, I don't think so. That should be the job of task runners etc. Sass-lint should be providing only minimal API surface for other tools and task runners to hook into.

[2016-10-25 14:20] mmase commented on #912
Alright, that makes sense. I've been seeing a lot of people trying to do away with job runners altogether, us included. But no reason you couldn't still make a standalone script to handle a watch task. Thanks though!

[2016-10-25 14:28] DanPurdy commented on #912
Fair enough. I don't think adding a watch task here accomplishes that, it would just add another level of complexity and specificity to how Sass-lint operates which to the majority of our users is probably unwanted and unnecessary.

I would say what happened with eslint watch here is probably the preferred method. If you want to build something similar we'd be happy to link to it in the Readme htt

[2016-10-25 14:28] #912 closed

[2016-10-26 05:42] seeliang commented on #908
Found the issue. it's my set not the sass lint

[2016-10-26 05:42] #908 closed

[2016-10-26 12:02] LaurentGoderre commented on #693
Nice! That just solved my problem!

[2016-10-26 16:01] #901 closed

[2016-10-26 16:17] #847 closed

[2016-10-26 16:30] #833 closed

[2016-10-26 16:58] #872 closed

[2016-10-27 09:53] #865 closed

[2016-10-27 10:15] #861 closed

[2016-10-27 15:57] #880 closed

[2016-10-27 16:33] #841 closed

[2016-10-27 20:33] mattly commented on #853
It does this for key names in a map as well, for example:

[code]

flags `color 'black' should be written in its hexadecimal form #000000`

[2016-10-27 21:45] DanPurdy commented on #853
@mattly That's one of the options you can enable / disable

https://github.com/sasstools/sass-lint/blob/develop/docs/rules/no-color-literals.md#options

[2016-10-27 22:54] bgriffith commented on #902
Just a heads up that this fix https://github.com/tonyganch/gonzales-pe/pull/215 will solve this problem.

[2016-10-27 23:04] bgriffith commented on #898
Just to note that this has been fixed in the parser https://github.com/tonyganch/gonzales-pe/pull/185 - just waiting for a release

[2016-10-28 12:21] mmase opened #916 "random line of tag/class/id/gibberish doesn't throw error"
I would expect this to throw some sort of linting error, though I don't think it's captured in sass-lint:

[code]

[2016-10-28 13:53] DanPurdy commented on #916
Believe it or not, it's actually valid Sass. You can try it here http://www.sassmeister.com/

It'll be compiled as `div #myElement` Not sure what kind of lint warning we could throw for that as we don't really have a specific rule looking for extra line breaks in selectors.

You can see how our AST reports it below

[code]

[2016-10-28 13:54] #916 closed

[2016-10-28 14:00] mmase commented on #916
Interesting, I was testing with http://beautifytools.com/scss-compiler.php and it didn't compile that way. But I confirmed that it does as sassmeister says it will. Sorry for the false alarm!

[2016-10-28 15:54] #907 closed

[2016-10-28 16:05] abpetkov opened #917 "Brace style conflicting with single line per selector rule"
So in my `.sass-lint.yml` I have these two rules:

[code]
Using version 1.9.1 and running the linter via CLI.

Now, the purpose of this obviously is to allow single line rules, since our styling standards allow selectors with a single property to be written in a single line, but if more than one selector share a single property, we need them to be on a single line each, e.g.:

[code]

The second `

[2016-10-29 18:48] DrummerHead opened #919 "Enforce font-family stack ending with generic font family keyword fallback"
For example, if you have a class declaration block like:

[code]

Throw an error enforcing a generic font family keyword at the end of the stack (`serif`, `sans-serif`, `monospace`, `cursive`, `fantasy`)

Thanks!

[2016-10-29 19:58] DanPurdy commented on #919
Sounds like it would be a useful addition to our rules! Thanks @DrummerHead, as usual we're happy to receive PR's

[2016-10-30 22:30] seeliang opened #920 "'Space Around Operator' rule not working"
What version of Sass Lint are you using?
1.9.1
Please include any relevant parts of your configuration
space-around-operator
What did you do? Please include the actual source code causing the issue.

[code]

What did you expect to happen?
a error with 'Space Around Operator'

What actually happened? Please include any error messages given to you by Sass Lint.
no error

If you're using a IDE plugin

[2016-10-30 22:38] DanPurdy commented on #920
is it the `$font-weight-1` you're talking about here? If so it's because technically that's a valid variable name in Sass. If you were to use any other operator there it would ('should') flag up as an error but because you've not spaced it all near a variable it assumes it's the variable name. There's a similar discussion in another issue which I don't seem to be able to find right now...

There's

[2016-10-30 22:52] seeliang commented on #920
Sorry my bad, not a very good sample

it's the
[code]
part

[2016-10-30 23:08] DanPurdy commented on #920
Ah cool, I wasn't sure, just because i'd seen a similar issue recently.

Ok yeah, that's definitely a bug. Will have a look at it, as usual PR's welcome!

[2016-10-31 11:02] lucasjahn opened #921 "Outdated concentric.yml"
What version of Sass Lint are you using?
1.9.1

Please include any relevant parts of your configuration
I have the standard npm package using the concentric property ordering.

What did you do? Please include the actual source code causing the issue.
I updated the concentric.yml in /lib/config/property-sort-orders/ to match the in the comments highlighted list:

[code]

you are now able to get a c

[2016-11-01 11:25] esr360 commented on #268
This seems wrong to me? Setting this to `zero` should surely allow `0` instead of `none`? As far as I'm aware `border: zero` is not valid.

[2016-11-01 11:35] DanPurdy commented on #921
closed in #922

[2016-11-01 11:35] #921 closed

[2016-11-01 11:38] DanPurdy commented on #268
@esr360 sorry, what are you referring to and where?

[2016-11-01 11:44] esr360 commented on #268
Sorry @DanPurdy I posted this on the wrong issue, I had another relevant issue open relating to this, I meant to post this here: https://github.com/sasstools/sass-lint/issues/861

I will open a new issue though.

[2016-11-01 11:46] DanPurdy commented on #268
It's ok no problem, just got a little confused! 👍

[2016-11-02 00:05] bgriffith commented on #920
I can't replicate this, I'm getting an warning. Did you replicate this issue @DanPurdy ?

[2016-11-02 00:07] DanPurdy commented on #920
Nope, hadn't had time yet. So you are seeing an error @bgriffith

[2016-11-02 00:16] bgriffith commented on #920
Hey @seeliang - Could you post your config file? I can't replicate the issue and we have tests that are passing for this example.

[2016-11-02 01:45] raphaelfabeni commented on #797
I have the same error here using this:

[code]

😢

[2016-11-02 01:54] DanPurdy commented on #797
Would you mind adding it to the linked issue on the gonzales repo above your comment @raphaelfabeni would help a lot when we look into those issues there. Thanks

[2016-11-02 02:30] DanPurdy commented on #268
Hey @esr360 I've put a PR in to address your issue, feel free to add any comments there if you feel necessary. see #926

[2016-11-02 02:50] raphaelfabeni commented on #797
@DanPurdy I did that! Thanks for the fast answer.

[2016-11-02 03:14] seeliang commented on #920
Sure,
my settings

package.json
[code]
.sass-lint.yml
[code]

[2016-11-02 09:36] DanPurdy commented on #920
@seeliang I may be being completely blind but you don't have the rule enabled in your config..

[2016-11-02 16:53] sormy opened #927 "false positive indentation alert for sass map used as mixin argument"
scss code:

[code]

sass-lint@1.9.1 is used within Visual Studio Code plugin.

Will show false positive "expected indentation of 4 spaces but found 2" for "primary: (" line. It is expected that line "primary: (" should have 2 spaces correct indentation.

.sass-lint.yml

[code]

[2016-11-02 17:01] mrchacon opened #928 "strictbem helper v1.9.1 don't support boolean modifiers"
Documentation of rule `class-name-format` gives an example using strictbem case with boolean modifiers but regex in helper `helpers.isisStrictBEM` in v1.9.1 don't support this.

The regex, in the modifier part, explicitly expect the modifier to be in two parts (type:value). So boolean modifiers, that only need one part, can't be used.

The regex in v1.9.1 is:
((_[a-z0-9](\-?[a-z0-9]+)*)**{2}**).

[2016-11-02 22:02] seeliang commented on #920
Oh my,
i think i have being missing this set since I updated from .scss-lint to .sass-lint

i am so so sorry about this @DanPurdy and @bgriffith

[2016-11-02 22:02] #920 closed

[2016-11-02 22:24] bgriffith commented on #928
Hey @mrchacon, we're looking at getting a release out in the next few days.

[2016-11-02 23:28] seeliang opened #929 "'Space expected around operator' picks up class name dash as operator"
I did a quick search for ' space-around-operator' could not find anything related to this.

Hope it is a real unique issue this time.

rules
[code]
sass code
[code]
- expect no error
- gulp sass 1.2.0
- with Atom editor

full sass.yml
[code]

[2016-11-03 12:09] DanPurdy commented on #928
I'll close this so we can just keep track of what's left.

[2016-11-03 12:09] #928 closed

[2016-11-03 12:12] DanPurdy commented on #927
I'll look into it @sormy there's still a few edge cases left over to sort with indentation.

Just out of interest does it still report this if you use this in your config file

[code]

Thanks

[2016-11-03 13:00] Uelb opened #930 "Empty space between blocks between @each and class"
What version of Sass Lint are you using?
1.9.1

Please include any relevant parts of your configuration
My config file
[code]

What did you do? Please include the actual source code causing the issue.
[code]

What did you expect to happen?
No error

What actually happened? Please include any error messages given to you by Sass Lint.
Error : Space expected between blocks  empty-line-between-blocks

[2016-11-03 13:33] DanPurdy commented on #930
Thanks for the report, this seems to be related to an issue we were having with our AST, but this should be fixed in the next release of that so I'll check it then!

👍

[2016-11-03 13:35] DanPurdy commented on #920
Ha, dont worry about it @seeliang one of those things we all do at some point! 👍

[2016-11-04 19:13] TylerEich opened #931 "Error when parsing .class-name:not( .other-class-name )"
What version of Sass Lint are you using?
1.9.1

Please include any relevant parts of your configuration
I'm using linter-sass-lint.

What did you do? Please include the actual source code causing the issue.
Fatal errors are noted with a ❌. Cases that do not error out are noted with a ✅
[code]
[code]
[code]
[code]

What did you expect to happen?
I expected cases 1-3 to not fatal error

What actuall

[2016-11-05 23:34] ncoden commented on #602
@DanPurdy @BPScott Anything new about this issue ? I still find this very useful.

[2016-11-06 00:10] DanPurdy commented on #931
@TylerEich Thanks for this. It's an error with the AST we use. Ive reported it [here](https://github.com/tonyganch/gonzales-pe/issues/232)

[2016-11-06 14:01] #70 closed

[2016-11-06 14:40] #896 closed

[2016-11-06 14:46] DanPurdy commented on #864
Sorry for taking so long to get back to this one. I think the whole verbose flag is just confusing. The behaviour you are seeing is as I would expect though.

The output is being supressed but the thrown error is not being caught in your 2nd example. If you combine the `--no-exit` without `--verbose` then you would have the silent output as you have in the final example.

Verbose in this sense (an

[2016-11-06 14:46] #864 closed

[2016-11-06 17:18] bgriffith commented on #931
I've created a PR (https://github.com/tonyganch/gonzales-pe/pull/233) that fixes this, so shouldn't be too long before we can tick this off.

[2016-11-07 03:42] seeliang commented on #920
thx @DanPurdy

[2016-11-07 12:19] Donaldini opened #934 "ST3 can no longer handle errors in 1.10.0"
**What version of Sass Lint are you using?**
1.10.0

**Please include any relevant parts of your configuration**
Using Sublime Text 3 with:

- _SublimeLinter 3.7.4_
- _SublimeLinter-contrib-sass-lint 1.0.4_

**What did you do? Please include the actual source code causing the issue.**
Wanted to update from sass-lint 1.8.2 to 1.10.0 so I removed sass-lint (globally and locally in current project),

[2016-11-07 12:28] DanPurdy commented on #934
Hi @Donaldini this is pretty worrying.. I'm not seeing this behaviour anywhere at the moment. Can you please post your config file for us in its entirety.

Thanks

[2016-11-07 12:29] Donaldini commented on #934
Which config file do you need? sass-lint.yam?

[2016-11-07 12:30] DanPurdy commented on #934
Yeah, if you're using one.

[2016-11-07 12:31] Donaldini commented on #934
Here you go: [sass-lint.yml.zip](https://github.com/sasstools/sass-lint/files/575308/sass-lint.yml.zip)

[2016-11-07 12:31] DanPurdy commented on #934
Hmm ok, I'll look into it, thanks.

[2016-11-07 12:32] Donaldini commented on #934
I'm hoping it's something super easy 'cause I was really looking forward to that _disable rules_ feature :)

[2016-11-07 13:12] chrismbarr opened #935 "False positives for 'no-duplicate-properties' and 'declarations-before-nesting' rules"
Using `sass-lint` **1.10.0** (via `gulp-sass-lint` 1.3.0), both of the follow code blocks report a violation from the `no-duplicate-properties` rule where I've indicated with a comment.  Both of these lines are variable declarations and not even properties, so I have no idea why it's reporting these at all!

Luckily this release now includes rule disable comments, so I'm able to ignore these for n

[2016-11-07 13:17] DanPurdy commented on #935
Hi @chrismbarr Yeah, I actually noticed this earlier too, now that I've got the gulp release out of the way, I'll look at getting a hotfix out for a few of these issues that have popped up.

[2016-11-07 13:52] chrismbarr commented on #935
Similarly, I noticed more false positives in this example as well for the `declarations-before-nesting` rule.

In general, it seems to confuse variables and properties.  It seems to treat any text that ends with a `:` as a property.

[code]

[2016-11-07 15:14] #935 closed

[2016-11-07 15:15] DanPurdy commented on #934
Hey @Donaldini I think the error may be fixed in #937 We'll get a patch release out soon to prevent these un handled errors being thrown.

[2016-11-07 16:01] bgriffith commented on #929
Hey @seeliang - Thanks for the report. I've fixed this bug in #940. Hopefully we can get it released soon :+1:

[2016-11-07 16:03] DanPurdy commented on #934
Hi @Donaldini can you test it with 1.10.1 please and let me know if you still have problems.

[2016-11-07 18:18] jayrobin opened #941 "space-around-operator raises for negative numbers in for/if blocks"
**What version of Sass Lint are you using?**
1.10.0

**Please include any relevant parts of your configuration**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
Each of the three cases above to pass the space-around-operator rule (see also closed issue #572)

**What actually happened? Please include any error messages

[2016-11-07 18:22] megawac opened #942 "Keyframes parsing issue with commas"
What version of Sass Lint are you using?

1.10.1

Please include any relevant parts of your configuration

[code]

What did you expect to happen?

Not give a fatal parsing exception. This issue is the same as #642 except the keyframes have commas

What actually happened? Please include any error messages given to you by Sass Lint.

[2016-11-07 18:45] bgriffith commented on #942
hey @megawac - as far as I am aware, the code above is invalid due to the comma.

I ran it through both the [css validator](https://jigsaw.w3.org/css-validator/validator) and [sassmeister](http://www.sassmeister.com)

[2016-11-07 18:48] bgriffith commented on #941
Hey @jayrobin - Thanks for the report. I'll look at fixing this this asap :+1:

[2016-11-07 18:54] megawac commented on #942
node-sass strips the commas in this case. The output after node-sass runs is

[code]

Not sure if the code works in the browser - I was just linting some code from a third part and noticed this error

[2016-11-07 18:58] bgriffith commented on #942
Ah ok! Thanks for the heads up!

[2016-11-07 22:14] seeliang opened #943 "Suggestion: can we lint duplicate @include ?"
I think this could be useful

What version of Sass Lint are you using?
1.9.1

Please include any relevant parts of your configuration
not really

What did you do? Please include the actual source code causing the issue.
[code]
What did you expect to happen?
have linter error

What actually happened? Please include any error messages given to you by Sass Lint.
add a new rule

If you're using a IDE

[2016-11-07 22:47] DanPurdy commented on #943
For these sort of requests you can just describe what you'd like the rule to check for and what the outcome should be.

I'm guessing this would be a check on a block by block basis? I'm not sure how useful it will be to most but happy to see a PR for it and should be very straightforward.

[2016-11-07 22:51] DanPurdy commented on #942
I'm going to close this as it's invalid code and shouldn't therefore parse. The fact that node-sass strips these is also testament to that. The AST shouldn't take these edge cases into account and has rightfully flagged it as a parse error.

If you feel that's not the case then opening an issue with [Gonzales-pe](https://github.com/tonyganch/gonzales-pe) is the way to go as that's where this error

[2016-11-07 22:51] #942 closed

[2016-11-08 00:23] seeliang commented on #943
Thanks Dan, the benefit would be, force you have one @include and maintain it at one place :)

same concept of
https://github.com/sasstools/sass-lint/blob/develop/docs/rules/no-duplicate-properties.md

[2016-11-08 00:28] DanPurdy commented on #934
I've tested this in sublime myself. Can't replicate it so closing. Happy to reopen if we hear back that it's not fixed.

[2016-11-08 00:28] #934 closed

[2016-11-08 01:14] malyw opened #944 "The code inside "Disable/enable all linters" is actually parsed"
**Sass Lint version:** 1.10.1
**Configuration:** Default
**Expected behavior:**
Sass-lint to ignore all the errors inside
// sass-lint:disable-all
...
// sass-lint:enable-all
blocks, as described at https://github.com/sasstools/sass-lint/blob/develop/docs/toggle-rules-in-src.md

**Actual behavior:**
For the popular library include-media https://github.com/eduardoboucas/include-media/blob/master/di

[2016-11-08 07:33] Donaldini commented on #934
Tested it with 1.10.1 and the problem seems to be fixed! Thanks

[2016-11-08 09:20] DanPurdy commented on #944
I'm sorry but this isn't how these comments are supposed to work.

Our AST/parser still needs to be able to parse absolutely everything, the comments are only there to prevent warnings and errors generated by the rules, if there's a parse error as you're showing here you need to report it to [Gonzales-pe](https://github.com/tonyganch/gonzales-pe).

The AST even has to read and tokenize our disable

[2016-11-08 09:20] #944 closed

[2016-11-08 09:47] bgriffith commented on #944
Hey @malyw - Just a heads up that this has already been fixed in the parser https://github.com/tonyganch/gonzales-pe/issues/219 and will be fixed in sass-lint once the parser does a new release :+1:

[2016-11-08 10:53] #929 closed

[2016-11-08 12:56] DanPurdy commented on #934
Awesome, sorry to cause you the trouble in the first place!

[2016-11-09 07:01] huerlisi opened #946 "release broken on 0.12 without major version bump"
First off: thanks for this wonderful package, we're using it with great success!

We're still using Node version 0.12 in some environments. These projects are now failing due to incompatibility of newer `eslint` versions.

`eslint` properly bumped the package version in a major release when requiring a newer node version. `sass-lint` did bump the dependency on  `eslint` in 31d26aa. This did change

[2016-11-09 09:03] Donaldini opened #947 "Using 2 disable rules directly underneath each other doesn't work"
**What version of Sass Lint are you using?**
1.10.1

**What did you do? Please include the actual source code causing the issue.**
When I disable 2 rules on 2 lines directly underneath each other, the second rule doesn't seem to work.

![disable-line](https://cloud.githubusercontent.com/assets/2185680/20132413/3117837e-a663-11e6-8464-8b99e287bb69.gif)

**What did you expect to happen?**
Both lines

[2016-11-09 09:19] DanPurdy commented on #947
Thanks for this report, that is an interesting one!

[2016-11-09 09:28] #941 closed

[2016-11-09 09:50] alfaproject commented on #946
eslint should be a dev dependency though, and this wouldn't have been an issue in the first place?

[2016-11-09 09:51] DanPurdy commented on #946
We depend on it for hte formatters currently as we dont have our own.

[2016-11-09 09:52] DanPurdy commented on #946
Either way @huerlisi 1.10.2 is out now with Eslint pegged back. I'll release an update to all the tools too.

[2016-11-09 13:42] huerlisi commented on #946
Wow, that's a great relieve for us! Marvelous work!

(and it gave us a much needed push to migrate away from those old platforms)

[2016-11-09 13:43] #946 closed

[2016-11-10 18:38] tommycoppers commented on #902
@bgriffith @DanPurdy Would https://github.com/tonyganch/gonzales-pe/pull/215 fix issues like the following:

#### Errors

Problem seems to be with the `--` after the interpolation.

[code]

#### Valid
[code]

I'd be happy to make a ticket if this is a separate issue.

Cheers!

[2016-11-10 18:45] bgriffith commented on #902
Hey @tommycoppers - I can confirm that it's fixed in the latest branch of gonzales. So once a new version is released it'll get fixed. Hopefully not too long.

[2016-11-10 19:54] tommycoppers commented on #902
Wonderful!  Thanks for the hard work!

[2016-11-14 08:53] ncoden commented on #827
@DanPurdy I find it useful too. I think the nesting forcing rules are too restrictives. When I have to apply properties to only one particular case of an element (pseudo-class / pseudo-element / chained class...), I do not expect to have to nest the pseudo-class/pseudo-element/class inside its element.

**Should throw an error:** factorizable multiple declaration blocks
[code]
[code]

**Should not

[2016-11-14 08:58] ncoden opened #950 "Ignore single declaration block in force-*-nesting"
Like, #827, I think the nesting forcing rules are too restrictive. When I have to apply properties to only one particular case of an element (pseudo-class / pseudo-element / chained class...), I do not expect to have to nest the pseudo-class/pseudo-element/class inside the element.

**Should throw an error:** Factorizable multiple declaration blocks
[code]
[code]

**Should not throw an error:** Si

[2016-11-14 09:23] ncoden opened #951 "Property `interpolation-mode` appears to be spelled incorrectly"
I am using `gulp-sass-lint v1.3.2` with `sass-lint v1.10.2`.

For the following code:
[code]
(from [foundation-sites / _global.scss](https://github.com/zurb/foundation-sites/blob/546a5b9f38487450df0dcf4957ba8c73bf11194e/scss/_global.scss#L156))

The following warning is throw:
[code]

The sass-lint config is :
[code]
(from [.sass-lint.yml](https://gist.github.com/ncoden/ec50bad6cd2f08df0780e9f3564

[2016-11-14 11:05] ncoden opened #952 "class-name-format not working with variable interpolation"
I am using `gulp-sass-lint v1.3.2` with `sass-lint v1.10.2`.

For the following code:
[code]
(from [foundation-sites / grid/_classes.scss](https://github.com/zurb/foundation-sites/blob/546a5b9f38487450df0dcf4957ba8c73bf11194e/scss/grid/_classes.scss#L59))

The following warning is throw on `&.#{$gutter}-#{$breakpoint}`:
[code]

The sass-lint config is :
[code]
(from [.sass-lint.yml](https://gist.g

[2016-11-14 14:25] abpetkov commented on #644
@DanPurdy @bgriffith Came across the same fatal error with the code below. Running version 1.10.2

[code]

Looks like the problem is with the property rule (BTW this is usually something like `padding-left`, `margin-right`, etc.). It doesn't error out if it's a straightforward property.

Any workaround?

[2016-11-14 14:30] DanPurdy commented on #644
@abpetkov It's a fatal error with our AST [gonzales-pe](https://github.com/tonyganch/gonzales-pe/issues) If you could file an issue there that would be really helpful.

It's the second piece of interpolation in your property that is causing it.

[code]

The above parses fine for example

[2016-11-14 14:32] abpetkov commented on #644
@DanPurdy Right, confirming that the property interpolation causes it. Will open an issue about that. Thanks!

[2016-11-14 17:45] ncoden opened #953 "no-vendor-prefixes confuse standard properties and pseudo-elements"
I am using `gulp-sass-lint v1.3.2` with `sass-lint v1.10.2`.

For the following code:
[code]
(from [foundation-sites / forms/_progress.scss](https://github.com/zurb/foundation-sites/blob/546a5b9f38487450df0dcf4957ba8c73bf11194e/scss/forms/_progress.scss#L86))

The following warning is thrown:
[code]

The sass-lint config is :
[code]
(from [.sass-lint.yml](https://gist.github.com/ncoden/ec50bad6cd2

[2016-11-15 09:55] DanPurdy commented on #951
This is a bug that's actually being worked on as we speak by @bgriffith

[2016-11-15 09:58] DanPurdy commented on #950
I think it's definitely valid, the force nesting rules are far too strict right now and definitely need tuning.

[2016-11-15 09:59] DanPurdy commented on #952
I'll double check this, shouldn't be throwing any issues here.

[2016-11-15 22:25] brentlintner opened #955 "CLI outputs invalid JSON when detecting multiple targets"
Steps to reproduce:

1. Create a folder `foo`.
2. Create `foo/1.scss` and `foo/2.scss` with `#foo { color: red }`)
3. Run `sass-lint -q -v -f json foo/*`.

What did you expect to happen?

It to print a single array.

What actually happened?

It prints numerous arrays, resulting in invalid json if you try to parse the complete stdout.

Example:

![selection_016](https://cloud.githubusercontent.com/

[2016-11-18 12:07] fernando24164 opened #960 "Sasslint fatal error while it is running in a Grunt task"
Hi,

I got a fatal error while I was running sasslint task in Grunt.
The problem is with the version v1.10.2
When I got the previous version, v0.9.1, remove caret in line 13 and it worked.

This is the error message:

[code]

This is the file I wanted to check [https://github.com/grafana/grafana/blob/v3.1.1/public/sass/components/_dropdown.scss#L13](url)

Hope this can help. Thanks.

[2016-11-19 23:00] DanPurdy commented on #960
Technically this is invalid and a 'hack' the target older IE browsers. Can I ask why you're not just using conditional stylesheets, they're considered much safer.

Either way the issue is thrown from the AST we use [gonzales-pe](https://github.com/tonyganch/gonzales-pe) so it would have to be reported and fixed there.

[2016-11-21 07:56] fernando24164 commented on #960
Well, I don't know the details of the code of Grafana. A few days ago it builds perfectly but since Friday it fails.
That line in scss file was written in February so I believed the problem was the linter process.
I will close this and report in the right project.
Thanks for your help.

[2016-11-21 07:56] #960 closed

[2016-11-22 01:35] royaldark opened #964 "Concentric: transition properties separated"
What version of Sass Lint are you using?
1.10.2

Please include any relevant parts of your configuration
[code]

With code like the following...
[code]

...sass-lint complains that `min-height` and `transition-timing-function` should be swapped. This seems bizarre and counterintuitive.

In https://github.com/sasstools/sass-lint/blob/develop/lib/config/property-sort-orders/concentric.yml, many rela

[2016-11-22 13:06] FiniteLooper opened #965 "Empty lines with whitespace not recognized by the empty-line-between-blocks rule"
Using Sass Lint version `1.3.2`

These causes a violation of the `empty-line-between-blocks` rule due to the whitespace characters on the empty line between blocks.
![image](https://cloud.githubusercontent.com/assets/463685/20524778/193e4d10-b08a-11e6-805e-788f950648a3.png)

However, when the line is actually blank, no violations are reported.
![image](https://cloud.githubusercontent.com/assets/46

[2016-11-22 19:04] mbulfair opened #966 "map-get flagged and variable for property / color"
What version of Sass Lint are you using?
**1.10.2**

Please include any relevant parts of your configuration
[code]
What did you expect to happen?
_This is expected, but (see below)_
`color: map-get($uiDarkMap, display1Color);`
**Is there an exception for this function of map-get, if what's being passed is a variable? I want colors to have no hex values, but I want variables to be a hex value.**

[2016-11-23 03:17] royaldark opened #967 "Missing semicolon incorrectly reported as final newline issue"
**What version of Sass Lint are you using?**
1.10.2

**Please include any relevant parts of your configuration**
I am using the default config, with `final-newline` and `trailing-semicolon` enabled.

**What did you do? Please include the actual source code causing the issue.**
[code]

Notice there *is* a newline after the `@import` line.

**What did you expect to happen?**
Triggers the `trailing-s

[2016-11-23 05:04] royaldark opened #968 "no-empty-rulesets does not catch rulesets containing only comments"
What version of Sass Lint are you using?
1.10.2

With `no-empty-rulesets` enabled, rulesets containing only comments are not considered empty, and therefore do not trigger the rule. I would argue rulesets like the following are definitely empty:

[code]

Does this seem like a reasonable assumption?

I worked up a commit that changes the behavior to fix this if there's any interest.

[2016-11-25 00:34] DanPurdy commented on #968
RIghtly or wrongly I chose to ignore this while we didn't have the ability to disable rules via comments but now that we do I think it's perfectly reasonable to believe that this should still fail as the comments aren't being pumped out into CSS.

There's an argument for `/* */` style comments not throwing here as technically they do get added to the resulting stylesheet but arguably the rule is s

[2016-11-25 00:35] DanPurdy commented on #967
I'll have to check this but definitely a bug.

[2016-11-25 00:36] DanPurdy commented on #966
Related to #853 I reckon. I think an overhaul of this rule is required now. It's way too fiddly. My fault..

[2016-11-25 00:37] DanPurdy commented on #965
I'll need to check how we're looking at the AST for this one. Off the top of my head the newline character and the whitespace on the following line will be considered a space node so it could be that we're just checking for block termination rather than content on the line.

[2016-11-25 00:50] DanPurdy commented on #964
No, you were right to post it here. We just copied it from scss-lint in the first place as we wanted to closely match most of their rules / enforcements to make it easier all round for anyone to move between the projects.

The reason you aren't finding it in the order is because transition-timing-function is technically not implemented across all browsers yet
https://developer.mozilla.org/en/docs/

[2016-11-25 05:48] royaldark commented on #964
Ah, interesting. Well I notice all transition-related properties, including `transition` itself, are marked as experimental on MDN. And since `transition` is just short-hand for the other 4 rules, I'd argue the individual rules should be included as well.

[2016-11-25 05:56] royaldark commented on #968
I guess I'm not sure why you'd ever want to preserve an empty block, even with comments. Similar tools like CSSLint seem to agree: https://github.com/CSSLint/csslint/wiki/Disallow-empty-rules

I'll submit a PR in the next few days.

[2016-11-25 16:17] rbaprado commented on #580
I am facing this problem here as well, version 1.10.2

[2016-11-27 00:11] DanPurdy commented on #580
@rbaprado can you open a separate issue please. Although it's the same error it's a different issue.

Thanks

[2016-11-28 12:54] rbaprado opened #969 "Unexpected parse error in begining of file"
I am getting a "Unexpected parse error in file" at the first character of my file:
[code]
Note: I am running sass-lint through the Atom linter plugin.

This seems related to #580

[2016-11-28 12:55] rbaprado commented on #580
Done: #969

[2016-11-29 13:42] thepian opened #972 "Obscure parsing problem: block starting from .. Fatal"
I am setting up sass-lint 1.10.2

It doesn't like our styling much since we are pushing the envelope, I have a question on that additionally.

The main sticking point is what looks like a parsing error

    app/styles/shared/icons.sass
       7:1  error  Please check validity of the block starting from line #7  Fatal

In this case icons.sass starts with:

[code]

I assume that like 7 refers to wit

[2016-11-30 19:09] mjyoung commented on #824
Also would love for this to be fixed.

[2016-12-07 00:35] DanPurdy commented on #972
Hi @thepian sorry for not getting back to you sooner, things have been a bit hectic recently.

This is a parse issue with the AST we use [gonzales-pe](https://github.com/tonyganch/gonzales-pe) I'll post this issue over there and link back to it.

[2016-12-07 00:39] DanPurdy commented on #969
Parse errors like this are thrown by the AST we use, [Gonzales-Pe](https://github.com/tonyganch/gonzales-pe)

As far as I can see this is parsing fine in the latest build, therefore we may just have to wait until that version of the AST has stabilised and we can incorporate it into sass-lint.

[2016-12-07 05:00] cj opened #973 "sass-lint.yml not found."
I'm running version `1.10.2`, I have a `.sass-lint.yml` in the root of my project.  When I run `sass-lint src/theme/button.scss`` I get the following error:

[code]

[code]

[2016-12-07 14:21] dovidweisz commented on #837
The referenced bug is now fixed, but your import of "gonzales-pe" is fixed at  "3.4.7"

[2016-12-07 14:41] DanPurdy commented on #973
This is the default config file in sass-lint that it can't find for some reason. I'm not sure why you're getting this. Try installing sass-lint again or check in that directory that it mentions to see if the .sass-lint.yml file is missing.

[2016-12-07 14:43] DanPurdy commented on #837
Hi @dovidweisz we know, we're waiting for a few more issues to be fixed and released before we update sass-lint to use the new version of Gonzales, there's a few breaking changes we need to handle in order to support this so unfortunately there will need to be a little bit of waiting.

[2016-12-07 17:15] cj commented on #973
@DanPurdy I'm getting the same message.  The only think I can think of is this was installed with yarn doing `yarn add --dev sass-lint`.  I've had some issues with some npm packages that need to be installed globally, where doing `yarn global add` they didn't work quite right and I had to resort to `npm install -g`.  Maybe it could be something similar....

[2016-12-08 20:02] mattmischuk opened #974 "[sass|scss] Shadow-piercing descendant combinator not supported"
A fatal error is returned if `>>>` selector is used (shadow-piercing descendant combinator).

https://drafts.csswg.org/css-scoping/#deep-combinator

What version of Sass Lint are you using?
v1.10.2

Please include any relevant parts of your configuration

What did you do? Please include the actual source code causing the issue.

[code]

What did you expect to happen?

The Sass Lint would accept th

[2016-12-09 05:09] khankuan opened #975 "Ignoring errors"
Hi, I'm using sass-lint 1.10.2 with css modules. The following sass results in error:
[code]
Turning off linting with `// sass-lint:disable-all` did not seem to ignore the error. Does disable only refer to warnings?

[2016-12-09 09:57] DanPurdy commented on #974
Hi @mattmischuk This is a parse error with the AST we use [gonzales-pe](https://github.com/tonyganch/gonzales-pe) Would you mind opening an issue over there and linking back to this issue.

[2016-12-09 10:00] DanPurdy commented on #975
Hi @khankuan can you be a bit more specific about the error you're receiving and providing the code with the disable comment attached too.

I'm assuming the error you're seeing though is a fatal parse error which is actually thrown by the AST we use [gonzales-pe](https://github.com/tonyganch/gonzales-pe) you'll need to report the issue there (without the sass-lint stuff). Unfortunately our disable

[2016-12-09 10:01] DanPurdy commented on #973
If you could let us know if that fixes your problem that would be great.

[2016-12-09 18:27] mattmischuk commented on #974
https://github.com/tonyganch/gonzales-pe/issues/253

[2016-12-10 06:24] khankuan commented on #975
Yup, its a fatal error. I'll create an issue there. Thanks :)

[2016-12-12 13:57] hetgelaat opened #977 "Allow function-generated colors in color function"
I have a function that returns colors,  like so: color($my-color-var, -3). This function **returns a color** that is 3 steps lighter than the $my-color-var.

If I try to use this in a rgba function, like so: rgba(color($my-color-var, -3), .5) sass-lint tells me 'A color in variable form must be passed to rgba, literals are restricted  no-color-literals'. Because my 'color'-function returns a color

[2016-12-12 15:33] eugef commented on #877
With the version 1.0 I am having following error when using css variables:

[code]

[2016-12-12 21:45] jtarantinomastercard commented on #642
@DanPurdy I seem to have a similar issue working with what appears to be a simple mixin:

mixin:
[code]

usage:
[code]

Is this also caused by the AST issue you mentioned in https://github.com/sasstools/sass-lint/issues/642#issuecomment-255522783 ? Any ideas how to get around it?

[2016-12-12 22:54] controversial opened #978 "issues with "space expected between blocks" and media queries"
1.9.1

[.sass-lint.yml](https://gist.github.com/controversial/85c0a88262d2aca23c583467f9e16c9d)

The smallest source code with which I've been able to reproduce is the following:
[code]

The code passes

Sass lint says

    9:1  warning  Space expected between blocks             empty-line-between-blocks
Changing the media query to something else (like `.something-else`) makes the warning disappea

[2016-12-13 02:29] damonsmith commented on #973
We just switched over from npm to yarn and I had the same problem - yarn doesn't seem to do a full install of sass-lint so /node_modules/sass-lint/lib/config/sass-lint.yml is missing.

Just doing an npm install sass-lint fixes it. (no need to do a install -g)

Is there some extra post install script that puts the sass-lint file in place?

If I then delete sass-lint from node_modules and run yarn a

[2016-12-13 06:14] dimanech commented on #877
Have the same issue. Since CSS custom property not equal to Sass variables we have too many reasons to have both in sass file.

[2016-12-13 08:52] DanPurdy commented on #973
@damonsmith there is no postinstall script, these files are part of the repository and the default install. If Yarn isn't downloading them then all I can think is that there's a bug in yarn. I would maybe post an issue there?

[2016-12-13 09:21] damonsmith commented on #973
yes I see they're just sitting there straight in the repo. Definitely a yarn issue, just wondering what exactly. It turns out I'm the only one on my team that has the problem. We all have macOS, same node version setup with nvm, we all deleted node_modules and ran yarn again and only I got the problem.

Totally strange that it's me and it happens to be this package that I get it with too. I suspec

[2016-12-13 09:27] DanPurdy commented on #973
Had you done a Yarn clean? Wondering if that has wiped the files out? Maybe delete the yarn.lock and yarn clean files and try again?

[2016-12-13 10:24] damonsmith commented on #973
Ah ok thanks, I'll give that a try tomorrow. Funny thing is we just converted to yarn and it happened on the very first run of yarn on my system. I was off for a day though when we converted to yarn, maybe everyone else just sacrificed the right goats while I was away.

Also I'll raise a ticket with yarn for it.

[2016-12-14 00:11] DanPurdy commented on #877
Hi guys, you need to report this to [Gonzales-pe](https://github.com/tonyganch/gonzales-pe) which is the AST we use.

The fatal errors you're encountering are because the AST doesn't currently support CSS variables / modules

[2016-12-14 09:18] eugef commented on #877
Seems like this issue is related https://github.com/tonyganch/gonzales-pe/issues/197

[2016-12-14 14:43] febLey opened #979 "Missing transform-* css properties in recess sort order"
There are some css properties missing in the recess.yml
- transform-box
- transform-origin
- transform-style

`sass-lint/lib/config/property-sort-orders/recess.yml`

I'd add them in this order:

[code]

[2016-12-14 14:51] dimanech commented on #977
Hi there, probably you can solve this by adding something like that:

[code]

[2016-12-14 21:11] damonsmith commented on #973
Yes running a `yarn cache clean` and then `yarn` fixed the problem.

Before it fixed the problem though, I checked the cached version in ~/Library/Caches/Yarn/npm-sass-lint-1.10.2-<hash> and it did have all the files.

Running yarn in verbose lists all the files that it copies from the cache folder and it lists each one that it copied but it didn't copy the sass-lint.yml file and the logs don't ex

[2016-12-14 22:25] HHogg commented on #877
If this is any help to anyone, I've managed to get around this for the moment by changing

[code]
to
[code]

Not great but it suppresses the error thrown for the time being. I've not found any issues _yet_.

[2016-12-18 03:33] TheJaredWilcurt opened #980 "Bug: Animation percents on separate lines causes fatal error"
**Version:** Latest (1.10.2)
**Code:**
[code]
**Error:**
[code]

This goes away if I put the `90%, 100%` on the same line. But that doesn't match the rest of my code, in which all comma separated selectors are on separate lines. And the `90%, 100%` being on separate lines has always been supported in `.sass` and `.scss`. So it shouldn't be causing a fatal error.

* [My .sass-lint.yml](https://gith

[2016-12-18 04:49] TheJaredWilcurt commented on #980
**Note:** If you have `single-line-per-selector` enabled, it will tell you that `90%, 100%` should be on separate lines, but when you put them on separate lines it causes a fatal error.

[code]

[2016-12-19 11:20] SKempin opened #981 "Ignore 'consecutive-duplicates-with-different-values' not applying to duplicate properties within a block"
Sass lint reporting 'Duplicate properties are not allowed within a block', despite ignore in config file.
This warning should not be created?

--  "gulp-sass-lint": "^1.3.2"

-- .yml config file:
[code]

-- SASS:
[code]

-- Output report:
697      │ 9        │ warning  │ Duplicate properties are not allowed within a          │ no-duplicate-        ║
║          │          │          │ block

[2016-12-19 11:45] gogy27 commented on #859
I found out that this one works ok:
`textarea#{$parent},
  select#{$parent}[multiple] {
    height: auto;
  }`

[2016-12-19 11:52] VaclovasV commented on #603
up

[2016-12-19 12:26] VaclovasV opened #982 "[sass|scss] Sass-lint breaks after map is given"
What version of Sass Lint are you using? 1.10.2

What did you do? Please include the actual source code causing the issue.
`$layout-global-config: (
    buttonPrimary: (
        disabled: $color-blue-gray
    ),
    height: (
        topNavigations: 140px
    ),
    font: (
        default: $base-font-family,
        size: $base-font-size
    ),
    placeholder:(
        color: $color-gray-dark,

[2016-12-21 09:41] DanPurdy commented on #981
The option you're passing doesn't exist. You need to have a read of the docs for that rule
https://github.com/sasstools/sass-lint/blob/develop/docs/rules/no-duplicate-properties.md

The option you're referencing there exists in stylelint, not sass-lint.

[2016-12-21 09:41] #981 closed

[2016-12-21 19:53] CodyReeves opened #983 "Scss @include returning fatal error"
## Current Version:
Sass-lint V1.10.2

## Issue:

When @include is written like:
[code]
A fatal error occurs.
This is a proper way to write a @include with multiple arguments and should not be a fatal error.

I have tried linting with both the CLI and within my IDE(Atom) but still get from sass-lint `error  Please check validity of the block starting from line #6  Fatal`

[2016-12-21 23:28] alansouzati opened #984 "Support for cache"
What version of Sass Lint are you using? Latest

Is there support for cache? I tried browsing through the documentation but I could not find anything.

The idea with cache being only lint files that changed since the last time you executed it.

Also, is there support to run linting in parallel?

[2016-12-22 09:30] DanPurdy commented on #984
In my mind caching would only be useful in the instance of a watch task which we don't have in the CLI as we exit on every pass. The tools downstream would be where this is best suited I reckon but to be honest I've not had any time recently to work on the project, I'd probably start with looking what Eslint or stylelint for example do and then move to support it if necessary.

[2016-12-22 09:31] DanPurdy commented on #983
@CodyReeves The issue here is with the AST we use, [Gonzales-pe](https://github.com/tonyganch/gonzales-pe) you can file an issue there about this.

[2016-12-22 09:32] DanPurdy commented on #982
@VaclovasV The issue here is with the AST we use, [Gonzales-pe](https://github.com/tonyganch/gonzales-pe) you can file an issue there about this.

[2016-12-22 09:33] DanPurdy commented on #980
@TheJaredWilcurt The issue here is with the AST we use, [Gonzales-pe](https://github.com/tonyganch/gonzales-pe) you can file an issue there about this.

[2016-12-22 22:38] dimanech opened #985 "Bug: Sass-lint not respond when mixin has space before parenthesis"
Hi, I am using sass-lint (1.10.2) and faced with some problem. In case when I have mixin with _space after name_ adding variables cause error that fills like parser go into endless cycle:
[code]
No errors, just 100% CPU usage, Atom UI freeze. This behavior reproducible though CLI.

What did you expect to happen? It would be great to throw error about that or just have some kind of timeout exceptio

[2016-12-28 01:40] romulof commented on #645
Any news about this feature?

I'd love to ditch that _yaml_ file and migrate my config into `package.json`.

[2016-12-29 13:01] ahiipsa opened #986 "Add to package.json whitelist files"
Hi,
sass-lint installation include unnecessary files (tests, .travis.yml and other). It increases the size and installation time.

npm has directive `files` in `package.json` [doc](https://docs.npmjs.com/files/package.json#files)

I created [example](https://github.com/ahiipsa/sass-lint/blob/files/package.json#L15-L21)

You may test it:
[code]

What do you think about this?

[2016-12-30 14:50] benjamincharity opened #987 "Is it possible to only allow hex colors in variable declarations?"
With SCSS-lint I was able to define rules that colors such as `red` or `#bada55` can **not** be used in a style declaration, but **can** be used in a variable declaration.  Is there a way to replicate that behavior with this tool? ([scss-lint rule](https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#colorvariable))

### Desired functionality

[code]

What version of Sas

[2016-12-30 16:49] alanshortis commented on #824
Another plus one for this. It's a bit of a blocker for me right now.

[2016-12-30 19:01] sormy opened #988 "fix string interpolation in class names during class-name-format validation"
1.9.1

[code]

[code]

No error.

[sass-lint] Class '.--small' should be written in BEM (Block Element Modifier) format
False positive error. Class name should be 'bla-bla-bla--small' and should pass BEM class name validation.

IDE Plugin, VS Code

[2017-01-03 08:43] pascaliske opened #989 "Wrong indentation with allman braces and mixins"
I found an error with the indentation rule of `sass-lint`. In our project we want to use the "allman" brace style and 4 spaces for indentation. If we setup sass-lint to check the indentation and the braces we get lots of errors for wrong indentations.

**What version of Sass Lint are you using?**

[code]
**Please include any relevant parts of your configuration**

[code]

**What did you do? Please

[2017-01-03 13:20] DanPurdy commented on #988
We don't compile your Sass to check for things like this. The only option we have is to ignore interpolation and make sure that the remaining text passes a sort of validation here.

[2017-01-03 13:27] DanPurdy commented on #989
Sorry, indentation is still a little buggy and I've not had time to work on it recently. There's still a few outstanding issues with indentation here. I'll hopefully get some time to take a look soon but I'm not sure when.

[2017-01-03 15:15] alanshortis commented on #499
I just wanted to revisit this issue as I seem to running in to the same thing with a small difference - I am using my own function and not one of SASS's built in colour functions (which should still be disallowed IMO).

I am using version 1.3.2.

I use a map to store colours and a function to pluck the values from the map, so I would define a colour for a property like this: `background: color(bac

[2017-01-09 11:44] denisname opened #991 "New rules suggestion: space-after-combinator and space-before-combinator"
This request is for the enforcement of spaces before or after combinators.
Like what rules `space-after-bang`, `space-after-colon`, `space-after-comma`, `space-before-bang`, `space-before-brace` and `space-before-colon` are doing.

Documentation example for space-after-combinator:

# Space After Combinator

Rule space-after-combinator will enforce whether or not a space should be included after a

[2017-01-09 11:46] DanPurdy commented on #991
I take it you want to be more specific that just [space-around-operator](https://github.com/sasstools/sass-lint/blob/develop/docs/rules/space-around-operator.md) ?

[2017-01-09 11:55] denisname commented on #991
I have `space-around-operator: 2` in my `.sass-lint.yml` and got no error on rules like `.item+.item`.
Furthermore, in the operators list in the doc, `docs/rules/space-around-operator.md`, the symbols `~` is not cited.

[2017-01-10 17:27] robsonsobral opened #992 "noJSPrefix rule"
There's one rule I miss from the (now dead) Recess:

- **noJSPrefix** - Don't style `.js-` prefixed classnames

Can we have that? Is it possible to add `trigger-` too?

Thank you so much!

[2017-01-11 22:56] dpagini opened #993 "New rule request: Force-Property-Value"
Admittedly, my rule name could use some work.

I have implemented a [SitePoint article](https://www.sitepoint.com/better-solution-managing-z-index-sass/) suggestion for managing z-index with a sass `z()` function that uses a map. My problem is that I cannot enforce that all my fellow developers use this approach when setting a z-index. This makes me want to go back to using just simple variables,

[2017-01-13 04:52] controversial commented on #978
Any update on this?

[2017-01-13 22:25] luetkemj opened #994 "Configuration Map syntax throws fatal error"
What version of Sass Lint are you using? 1.10.2

Please include any relevant parts of your configuration
Using cssModules
Webpack 1.14.0
style-loader 0.13.1
css-loader 0.26.1

What did you do? Please include the actual source code causing the issue.
Wrote this mixin:
[code]
Used like this:
[code]
What did you expect to happen?
I expected the linter to either not throw an error or call out a rule I

[2017-01-15 11:30] glen-84 opened #995 "sass-lint:disable-next-line"
At the moment, you can do:

[code]

Or:

[code]

The first is not ideal when you want to add a reason/description and the line is already quite long, and the second is unnecessarily verbose.

TSLint supports a `tslint:disable-next-line` alternative, which would look like this:

[code]

It would be nice to have this option.

[2017-01-15 23:26] clement-escolano commented on #994
Hello,

I have the same error with the same package version but completely different environment. I have no config file. When I launch `node node_modules/sass-lint/bin/sass-lint.js`, I don't have the errors displayed but I see the error message beginning with `throw new exception.SassLintFailureError`.

I don't know if I am doing something wrong but I am not able to use sass-lint right now :(

Tha

[2017-01-18 14:06] jackw commented on #987
Unless I'm missing something I'm pretty sure you're looking for the `no-color-literals` rule @benjamincharity. If you were using scss-lint there's a [tool here](http://sasstools.github.io/make-sass-lint-config/) that will convert your config over to sass-lint.

[2017-01-18 14:25] jackw commented on #977
I've just run into this problem when using a similar setup to @hetgelaat. The project I'm working on has a palette and a function to pull the colours from a map. Setting `allow-rgba: true` doesn't solve the issue due to [this logic](https://github.com/sasstools/sass-lint/blob/develop/lib/rules/no-color-literals.js#L127-L141) I believe.

[2017-01-19 16:56] benjamincharity commented on #987
@jackw you are correct! I didn't realize that rule was disabled in our repo a while back as it was conflicting with Sass helper function we wrote.

Thanks for pointing me in the correct direction 👍

[2017-01-19 16:56] #987 closed

[2017-01-20 21:05] eymiha opened #999 "Error line numbering is off by the line count in front matter"
Has anybody noticed that when `sass-lint`ing an `scss` file with front matter, the line counting is off by the number of lines in the front-matter?

It looks like there needs to be a bias variable added to the lint-identified lines, where the bias is `0` when no front matter is present, or `2+fm.frontmatter().match(/\n/g).length` if it is. This needs to be at or around line 18 of `lib/groot.js`.

[2017-01-24 15:22] eymiha commented on #999
Verified locally with an addition of `item["line"] += lineBias;` in `helpers.addUnique`.

[2017-01-26 18:08] gianpaj opened #1003 "Cannot lint custom file extension (e.g. test.scss.liquid)"
**What version of Sass Lint are you using?**
[code]
**Please include any relevant parts of your configuration**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

[code]

**What did you expect to happen?**
not to error out 😄 .
possible related ticket? #609

**If you're using a IDE plugin have you tried the CLI too?**
Yes. Both are failing

[2017-01-26 18:13] gianpaj commented on #1003
By the way, that this works.
[code]

But I'm looking for a way to configure sass-lint to work as I don't think I can pass a CLI parameter option to VS Code [extension](https://github.com/glen-84/vscode-sass-lint)

[2017-01-26 18:40] natewiebe13 opened #1004 "@charset should be excluded from quotes rule"
What version of Sass Lint are you using? 1.10.2

Please include any relevant parts of your configuration
[code]

What did you do? Please include the actual source code causing the issue.
[code]

What did you expect to happen?
The linter should identify any place that double quotes are being used, but exclude `@charset` since the value must use double quotes. Source: https://developer.mozilla.org/e

[2017-01-27 12:00] gyoshev opened #1005 "Rule: Use of calc without interpolation"
When using variables in `calc()` values, they are not evaluated in the SASS output. For example,

    width: calc( $padding-y - $icon-size );

... does not get converted, so it is invalid CSS. The [current suggestion in SASS](https://github.com/sass/sass/issues/818) is to interpolate the value. It would be great if the linter warns against use of `calc( $var )` usage without interpolation.

[2017-01-30 11:39] henrahmagix opened #1006 "User is not told if given config filepath does not exist and default rules are used instead"
If given a path to a file that doesn't exist, sass-lint should throw an error to let the user know it cannot find the config file. Otherwise the user will have no idea that the default config is being used and theirs is being ignored.

## Info

`v1.10.2`

N/A

I tried to load a custom yaml config file with grunt-sass-lint but it wasn't used. Tried to go into the sass-lint code and found `loadConfi

[2017-01-30 12:08] henrahmagix opened #1008 "Indentation false error on indented property when parent property has value"
This will pass:
[code]

But this will fail even though it is correct Sass:
[code]

Simply adding a value to a property before nesting it causes an error. sass-lint's indentation rule should allow properties to have value and have nested properties following them.

---

`v1.10.2`

[code]

I nested some properties that also had a value assigned.
[code]

No errors.

Errors on indentation rule for `pa

[2017-02-05 23:01] mikeerickson opened #1010 "Please check validity of the block starting from line #3 Fatal"
What version of Sass Lint are you using?

1.10.2

Please include any relevant parts of your configuration

`./node_modules/.bin/sass-lint "./resources/assets/sass/*.sass" -q -v`

And my .sass file contains the follow

[code]

What did you do? Please include the actual source code causing the issue.

Executing the above command produces

[code]

What did you expect to happen?

Should not throw asso

[2017-02-07 10:23] henrahmagix opened #1011 "New rule: semicolons in Sass syntax"
`v1.10.2`

N/A

[code]

Fail or warn with "semicolons not required in Sass syntax".

No errors or warnings.

No difference.

[2017-02-07 13:23] idangozlan opened #1012 "[CLI] Is there anyway to turn warnings into errors / change return code sensitivity?"
Hi,

I'm using the CLI tool, Is there anyway to turn warnings into errors / change return code sensitivity?

I need it to configure build system to know when there's non perfect lint.

Any other suggestions are welcome!

Thanks

[2017-02-07 18:09] DanPurdy commented on #1012
Change the 1s in your config file to 2's?

[2017-02-07 18:10] idangozlan commented on #1012
Can you be more descriptive?

[2017-02-07 18:13] DanPurdy commented on #1012
https://github.com/sasstools/sass-lint/blob/master/README.md#rules

[2017-02-07 18:14] DanPurdy commented on #1012
Sorry, am on my phone, is that what you mean?

[2017-02-07 18:16] idangozlan commented on #1012
Thanks.
Nope, I wanna do that to all of the rules, and not one by one.

If so, what is the best practice to implement the linting process in build systems? there is no any way to get return code according to the state?

[2017-02-07 19:01] DanPurdy commented on #1012
Sorry I don't really get what you're after then? You can set all the rules to throw errors or you can leave off the -q flag from the CLI to exit on any error and throw a exit code or you can set the max warnings option to throw an error after so many warnings.

Failing that just use an output file and parse it with the build system and throw your own exit codes..

[2017-02-09 09:10] alexerlandsson opened #1014 "@at-root freezes lint if used as inline selector"
When using @at-root as a inline selector the lint freezes and won't be able to finish. It started to work when I changed the @at-root rule to wrap the selector instead.

No errors was printed in the Terminal and the lint did not finish so I had to try the lint to each separate file before I found the problem.

This example won't work:
[code]

This will work:
[code]

Reading the scss documentation,

[2017-02-09 09:31] another-dave opened #1015 "New Rule Proposal: Disallow multiple empty lines"
Hello,

I'd like to propose a rule to disallow multiple consecutive empty lines in a file. E.g.:

[code]

For JavaScript, we're using ESLint's [no-multiple-empty-lines](http://eslint.org/docs/rules/no-multiple-empty-lines) rule which allows for:

* Max number of allowed consecutive empty lines.
* Separate max configurable for start & end of files.

I'd be happy to try and submit a PR / test cases

[2017-02-09 12:26] gyoshev commented on #1005
@DanPurdy do you find this request sensible? I am willing to contribute a patch if this is approved.

[2017-02-12 11:05] idangozlan commented on #1012
That means that I have to exact what rules I want to throw errors instead of warnings? Cause I wanna do that to all of the rules at once.

[2017-02-12 11:17] DanPurdy commented on #1012
That's what the config files are for, I'm not sure why anyone would have a use case for warnings to actually be errors unless you use the ability we already have to keep track of the warnings and throw an error if that number exceeds a limit.

I'm sorry but I don't really understand your issue here if you want to throw errors then use errors not warnings. I'm not sure why you'd want your CI tool t

[2017-02-12 11:36] idangozlan commented on #1012
I think that many developers teams, would like to keep their code linted, take a look on eslint, that the way it's working, and in my team, I would like to fail build that contains unlinted code, so warning consider as unlinted for me, finally I had to create a workaround to check the result of the sass-lint and if there's "warning" or "error" I will exit with code 1, but I think it should be one

[2017-02-12 11:53] DanPurdy commented on #1012
My point being though if you exit with the same error code on warnings and errors why not just use errors? We used to exit with code 1 on both but other teams with legacy code didn't want that, they wanted certain things to be warnings in their truest sense not lint errors. You can use separate config's for all these environments if you really want. I do understand what you are linting for I would

[2017-02-12 17:09] thierrymichel opened #1017 "Different settings for quotes inside selector vs values ?"
Hi,

First of all, thanks for the great work!

Is there a way to have single quotes for declarations/properties

[code]

and to allow double quotes for attributes selectors?

[code]

Actually, I get this message

[code]

Thanks a lot!

-----

What version of Sass Lint are you using? __1.10.2__

Please include any relevant parts of your configuration
[code]

What did you do? Please include the actu

[2017-02-14 07:43] Donaldini opened #1019 "Possible to disallow initial value?"
Is it possible to disallow the use of certain values?

My specific use case is the use of the _initial_ value inside e.g. the _color_ property.
I want to disable this because this value is [not supported by IE](http://caniuse.com/#feat=css-initial-value), but seems like an excellent fix for some issues (until you test in IE).

`color: initial // Does not work on IE`

**What version of Sass Lint ar

[2017-02-15 04:25] stowball opened #1020 "space-after-colon incorrectly warns in @at-root :pseudo selector"
What version of Sass Lint are you using?

1.10.2

Please include any relevant parts of your configuration

`space-after-selector: 1`

What did you do? Please include the actual source code causing the issue.

[code]

What did you expect to happen?

No errors

What actually happened? Please include any error messages given to you by Sass Lint.

The `@at-root` line complains that "Space expected aft

[2017-02-17 19:09] kmiyashiro commented on #221
This should be closed, it was fixed in #458

[2017-02-17 19:14] kmiyashiro commented on #139
I wouldn't consider 1.4+ years years quickly deprecating something 😅 . Unless 2.0 is imminent, maybe pluggable rules can be considered as a 1.x feature? Is there a way to define custom rules without creating separate modules currently?

[2017-02-18 17:36] glen-84 commented on #221
@kmiyashiro,

[2017-02-21 12:55] glen-84 commented on #855
Any news on this one? It seems like quite a nasty bug.

[2017-02-21 17:42] ytilis commented on #644
Any update on the status of property interpolation?

I run into it in the following line:

    border-#{opposite($d-y)}-#{opposite($d-x)}-radius: 0;

Which forces me to use this uglier line as a workaround:

    border-#{opposite($d-y) + '-' + opposite($d-x)}-radius: 0;

[2017-02-23 13:04] bastienmoulia opened #1024 "Rule no-misspelled-properties not working for -webkit-touch-callout"
When I use the properties `-webkit-touch-callout` i got a warning.

[code]
[code]

It seems that the rule [no-misspelled-properties](https://github.com/sasstools/sass-lint/blob/b7bcb3a4ec1a9c08d3883eb8c2acb97b6e6513c3/lib/rules/no-misspelled-properties.js#L34) remove the `-webkit-` prefix and there is no `touch-callout` in the [properties.yml](https://github.com/sasstools/sass-lint/blob/b7bcb3a4ec

[2017-02-27 18:34] robsonsobral opened #1025 "Allow `.sass-lint.yaml`"
What version of Sass Lint are you using?
v1.10.2

Please include any relevant parts of your configuration

What did you do? Please include the actual source code causing the issue.

What did you expect to happen?
Since `yaml` is a valid YAML extension, it should be allowed.

What actually happened? Please include any error messages given to you by Sass Lint.
`.sass-lint.yaml` is ignored.

If you'r

[2017-03-01 16:50] sound-matt opened #1027 "Extend placeholder with a variable and hyphen break sass-lint"
What version of Sass Lint are you using?
1.10.2

Please include any relevant parts of your configuration
Ubuntu 16.10

What did you do? Please include the actual source code causing the issue.
`@extend %#{$foo}--modifier;`
Put hyphen after the variable seens to break sass-lint

What actually happened? Please include any error messages given to you by Sass Lint.
`error  Please check validity of the

[2017-03-03 03:25] danelowe opened #1028 "New Rule Proposal: Components/Chunks"
Hey,

I'd like to propose/create a rule that would help ensure files are split up into readable chunks.

It would be based on `empty-lines-between-blocks`, but would allow extra configuration to specify that e.g.

* An empty line should only be required above selectors on the `n`th level of nesting and below.
* Empty lines should not be allowed at `x` or greater levels of nesting.
* Any selector a

[2017-03-03 13:45] bastienmoulia opened #1029 "Make clickable file paths in the CLI output"
What version of Sass Lint are you using?
1.10.2

Please include any relevant parts of your configuration

What did you do? Please include the actual source code causing the issue.
I run `sass-lint -c .sass-lint.yml -v -q`

What did you expect to happen?
With the CLI in the output, the path of the file should start with `./` in order to be clickable in the console.

[`./component/rating/_rating.scs

[2017-03-05 17:18] jmfederico commented on #978
Having the same issue

[2017-03-06 09:59] graingert opened #1031 "Feature request: autofix"
Simple rules, like indentation, hex-notation etc. Should be easy to autofix

[2017-03-06 10:50] graingert opened #1032 "sass-lint final-newline requires two new-lines"
What version of Sass Lint are you using?
1.10.2
Please include any relevant parts of your configuration

What did you do? Please include the actual source code causing the issue.
I have a file:
[code]
What did you expect to happen?
Should require one 0A at the end of the file
What actually happened? Please include any error messages given to you by Sass Lint.
Requires two
If you're using a IDE plu

[2017-03-07 10:56] idangozlan opened #1033 "Wrong nesting-depth when using :global or :local"
When using :global or :local scopes, it should not consider it as a nesting level.

[2017-03-07 16:52] TejasQ opened #1034 "Doesn't work with Node v7.7"
What version of Sass Lint are you using?
^1.10.2

What did you do? Please include the actual source code causing the issue.
`sass-lint -v -q`
I had a .sass-lint.yml file in my root.

What did you expect to happen?
It should have linted stuff.

What actually happened? Please include any error messages given to you by Sass Lint.
Module `globule` not found.
I then did `npm install globule -D`, and th

[2017-03-10 06:43] thierrymichel commented on #1017
As mentioned [here](https://github.com/sasstools/sass-lint/pull/1035) another option would be to use quotes only for values (traverseByType('value'), then check 'string' types) and use attributes-quotes with a new style property…

[2017-03-10 15:29] c-emil opened #1036 "Sass-lint complaining about valid strictbem class name"
### What version of Sass Lint are you using?
1.10.2

### Please include any relevant parts of your configuration
[code]

### What did you do? Please include the actual source code causing the issue.
If I write class like this `.block-name__element`, it gives me warnings. Writing just `.block-name` passes ok.

### What did you expect to happen?
If I follow strict BEM naming, it should not give me a

[2017-03-10 17:24] NitroBAY opened #1037 "Pass arguments when using sass-lint via npm run"
Hello,
I'm trying to use the CLI cmd, as I really **hate** the idea of installing global-dependencies (so if you change your env you got to remember everything and reinstall everything...) I installed with `--save-dev`.
`node_modules\.bin\sass-lint -q` is working smoothly.
But the problem is that if I try to put `"sass-lint": "sass-lint"` in my `"scripts"` part of my `package.json` file so I can j

[2017-03-11 01:11] DanPurdy commented on #1027
This is a problem with the AST we use. It looks to be fixed in the latest version of Gonzales-pe but we haven't had the time to update yet, we believe there are also a few regressions we need to check for.

[2017-03-11 01:20] DanPurdy commented on #1014
@alexerlandsson this is a bug in the current version of the AST we use. It looks to be fixed in V4 but we've not had the time to update to this yet or even check all the possible regressions.

[2017-03-11 11:50] thierrymichel commented on #1017
Finally, doesn't make sense to mix single/double quotes in my sass files (as CSS support both).

[2017-03-11 11:50] #1017 closed

[2017-03-11 16:17] DanPurdy commented on #1034
I'm afraid there must be something else that's the problem here, works fine for me.

![screen shot 2017-03-11 at 16 16 09](https://cloud.githubusercontent.com/assets/1386054/23824840/2878728c-0676-11e7-9d75-8c0d6a465568.png)

try clearing everything and reinstall i guess?

[2017-03-11 16:17] #1034 closed

[2017-03-11 16:23] DanPurdy commented on #1015
Hi sorry for the delay in getting back to you, had no free time it seems recently. I'd be happy to see a PR submitted for this. Thanks!

[2017-03-13 09:32] TejasQ commented on #1034
After some digging, I found out it was because my `NODE_ENV` was `production`.

[2017-03-14 10:03] dominique-mueller commented on #591
Any updates on this? It's quiet annoying not being able to use multi-line indention ...

[2017-03-14 17:56] refactorized opened #1039 "Use sasslintConfig var in package.json like sass-lint"
Please add ability to specify config in any upstream package.json file.  sass-lint uses the `sasslintConfig` key.

This could be considered a partial dupe of https://github.com/sasstools/sass-lint/issues/645 "Use cosmiconfig for configuration discovery" which should address it implicitly.  However, if cosmiconfig is _not_ used I think package specified configs are still important to support.

[2017-03-14 22:06] wawjr3d commented on #739
@traviskaufman what was your workaround for this problem? i have the same issue

[2017-03-15 07:59] fjoesne commented on #973
I had a similar issue. .yarnclean adds *.yml and therefore it will be removed without any notice at package install /  #upgrade.

#2259

[2017-03-15 08:35] DanPurdy commented on #973
We can think about it for the future but we're not gonna change sasslint right now purely because yarn chooses to do that. I guess once we add json config's we can move it over but i just don't have the time right now. Until then it remains an issue with yarn..

[2017-03-15 08:35] #973 closed

[2017-03-15 17:45] wawjr3d commented on #853
i see a related issue with color-literals when I write:

[code]

I get the warning/error `A color in variable form must be passed to rgba, literals are restricted  no-color-literals`. There's no error when I remove the shade function call:

[code]

[2017-03-16 14:32] hotforfeature commented on #927
@DanPurdy that is how my config looks and I still get the error

[2017-03-16 20:49] Snugug opened #1045 "CSS Grid"
There are a number of [CSS Grid properties](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout) that are [not in `properties.yml`](https://github.com/sasstools/sass-lint/blob/develop/data/properties.yml). We should 2x check that property list with the full, final, shipped list from MDN and update accordingly

---

What version of Sass Lint are you using?
* 1.10.2, from CLI

Please in

[2017-03-16 22:16] oatkiller opened #1046 "Custom rules?"
Is it possible to specify user created rules when running sass-lint? I have an idea for a rule. I would like to write it, and try it out on my project for a while before contributing it. I could contribute it straight away, but the idea for my rule could use refinement.

Ideally, I would be able to do this without forking sass-lint. Thanks!

[2017-03-17 09:01] nicklee commented on #591
We have the same issue here, would be great to get an update on when this will be implemented, single line multi transitions make me sad ;)

[2017-03-19 13:14] fiso commented on #1015
I would love this too.

[2017-03-19 13:26] another-dave commented on #1015
Cool, great! I'll try to look into this this week & see if I can get something raised for it.

[2017-03-21 15:07] misund opened #1049 "Spaces inside parenthesis in :nth-child() causes sass-lint to hang"
## What version of Sass Lint are you using?
1.10.2

## Please include any relevant parts of your configuration
[code]

## What did you do? Please include the actual source code causing the issue.
I changed the selector `:nth-child(2)` to `:nth-child( 2 )` (added spaces inside the parenthesis).

First run, where all is good:
[code]

Second run, where sass-lint hangs:
[code]

![image](https://cloud.

[2017-03-22 08:33] adam-lynch opened #1050 "'property-units' rule doesn't work?"
**What version of Sass Lint are you using?** 1.10.2

**Please include any relevant parts of your configuration**

Here is the file (`sassLintRules.js`) containing my rules:

[code]

**What did you do? Please include the actual source code causing the issue.**

I'm using gulp-sass-lint@1.3.2. Simplified example:

[code]

`index.scss`:

[code]

**What did you expect to happen?**

I'd expect the usag

[2017-03-22 08:37] adam-lynch commented on #1050
Created an issue at gulp-sass-lint just in case: https://github.com/sasstools/gulp-sass-lint/issues/77